@import '../../mixins/index.scss';
@import '../../variables/default.scss';

.fta-result {
  @include flex-center();
  flex-direction: column;

  &-image {
    margin-top: $fta-result-image-margin-top;
    @include square($fta-result-image-size);
  }

  &-title {
    margin-top: $fta-result-title-margin-top;
    &__text {
      color: $fta-result-title-color;
      font-weight: $font-weight-bolder;
    }
  }

  &-desc {
    margin-top: $fta-result-desc-margin-top;
    &__text {
      color: $fta-result-desc-color;
    }
  }

  &-button {
    margin-top: $fta-result-button-margin-top;
  }
}
