@import '../../variables/default.scss';
@import '../../mixins/index.scss';

$component: '.fta-textarea';

#{$component} {
  padding: $fta-textarea-padding;
  width: 100%;
  font-size: $fta-textarea-font-size;
  line-height: $line-height-zh * $fta-textarea-font-size;
  border-radius: $fta-textarea-radius;
  background-color: $fta-textarea-bg-color;
  @include border-box();
  // @include border-thin($width: 1px);

  /* #ifndef rn */
  &--WEB,
  &--WEAPP {
    #{$component}__textarea {
      @include nrn {
        line-height: $line-height-base;
      }
    }
  }
  /* #endif */

  &__textarea {
    width: 100%;
    height: $fta-textarea-input-height;
    font-size: $fta-textarea-font-size;
    @include nrn {
      outline: none;
      resize: none;
      -webkit-appearance: none;
    }

    border-radius: 0;
    padding: 0;
    margin: 0;
    border: 0;
    @include placeholder;

    // todo: fix 与新版存在差异
    textarea {
      @include nrn {
        resize: none;
      }
    }
  }

  &__counter {
    @include nrn {
      display: block;
      text-align: right;
    }
    padding-top: $spacing-v-sm;
    width: 100%;
    @include rn {
      flex-direction: row;
      justify-content: flex-end;
    }

    &-current {
      line-height: $line-height-base * $fta-textarea-tips-size;
      color: $fta-textarea-tips-color;
    }

    &-full {
      color: $fta-textarea-tips-limit-color;
    }

    &-limit {
      line-height: $line-height-base * $fta-textarea-tips-size;
      color: $fta-textarea-tips-color;
    }
  }
}
