@import '../../variables/default.scss';
@import '../../mixins/index.scss';

$component: '.fta-textarea';
$fta-textarea-input-height: $fta-textarea-font-size * 4;
$fta-textarea-bg-color: $color-bg;

#{$component} {
  padding: $spacing-v-md;
  width: 100%;
  font-size: $fta-textarea-font-size;
  line-height: $line-height-zh * $fta-textarea-font-size;
  border-radius: $border-radius-md;
  background-color: $fta-textarea-bg-color;
  @include border-box();
  // @include border-thin($width: 1px);

  &__textarea {
    width: 100%;
    height: $fta-textarea-input-height;
    font-size: $fta-textarea-font-size;
    @include nrn {
      outline: none;
      resize: none;
      -webkit-appearance: none;
    }

    border-radius: 0;
    padding: 0;
    margin: 0;
    border: 0;
    @include placeholder;

    // todo: fix 与新版存在差异
    textarea {
      @include nrn {
        resize: none;
      }
    }
  }

  &__counter {
    @include nrn {
      display: block;
    }
    padding-top: $spacing-v-sm;
    width: 100%;

    text-align: right;

    &-current {
      line-height: $line-height-base * $fta-textarea-tips-size;
      color: $fta-textarea-tips-color;
    }

    &-full {
      color: $fta-textarea-tips-limit-color;
    }

    &-limit {
      line-height: $line-height-base * $fta-textarea-tips-size;
      color: $fta-textarea-tips-color;
    }
  }

  &--WEB,
  &--WEAPP {
    #{$component}__textarea {
      // line-height: $line-height-base ;
    }
  }

  &--error {
    #{$component}__counter {
      color: $color-error;
    }
  }
}
