// @import '../../../common/theme/variables/common/neutral.prod.scss';
@import '../../mixins/index.scss';
@import '../../variables/default.scss';

.fta-text {
  @include nrn {
    line-height: $line-height-base;
  }

  &--1 {
    color: $color-text-xxl;
    font-size: $font-size-xxl;
    line-height: $line-height-xxl;
    &--care {
      font-size: care($font-size-xxl);
      @include rn {
        line-height: care($line-height-xxl);
      }
    }
  }

  &--2 {
    color: $color-text-xl;
    font-size: $font-size-xl;
    line-height: $line-height-xl;

    &--care {
      font-size: care($font-size-xl);
      @include rn {
        line-height: care($line-height-xl);
      }
    }
  }

  &--3 {
    color: $color-text-lg;
    font-size: $font-size-lg;
    line-height: $line-height-lg;

    &--care {
      font-size: care($font-size-lg);
      @include rn {
        line-height: care($line-height-lg);
      }
    }
  }

  &--4 {
    color: $color-text-md;
    font-size: $font-size-md;
    line-height: $line-height-md;

    &--care {
      font-size: care($font-size-md);
      @include rn {
        line-height: care($line-height-md);
      }
    }
  }

  &--5 {
    color: $color-text-sm;
    font-size: $font-size-sm;
    line-height: $line-height-sm;

    &--care {
      font-size: care($font-size-sm);
      @include rn {
        line-height: care($line-height-sm);
      }
    }
  }

  &--6 {
    color: $color-text-xs;
    font-size: $font-size-xs;
    line-height: $line-height-xs;

    &--care {
      font-size: care($font-size-xs);
      @include rn {
        line-height: care($line-height-xs);
      }
    }
  }
}
