@import '../../mixins/index.scss';
@import '../../variables/default.scss';

.fta-empty {
  @include flex-center();
  flex-direction: column;

  &-image {
    @include square($fta-empty-image-size);
    @include flex-center();
  }

  &-title {
    margin-top: $fta-empty-desc-margin-top;
    &__text {
      font-weight: $font-weight-bolder;
      color: $fta-empty-title-color;
    }
  }

  &-desc {
    margin-top: $fta-empty-desc-margin-top;
    &__text {
      color: $fta-empty-desc-color;
    }
  }

  &-button {
    margin-top: $fta-empty-button-margin-top;
  }
}
