@import '../../mixins/index.scss';
@import '../../variables/default.scss';

.fta-empty {
  @include flex-center();
  flex-direction: column;

  &-image {
    @include square($fta-empty-image-size);
    @include flex-center();
  }

  &-title {
    &__text {
      color: #666;
      font-weight: 500;
    }
  }

  &-desc {
    margin-top: 14px;
    &__text {
      color: red;
    }
  }

  &-button {
    margin-top: 40px;
  }
}
