@import '../../variables/default.scss';
@import '../../mixins/index.scss';

.fta-image {
  width: $fta-image-width;
  height: $fta-image-height;
  // overflow: hidden;
  /* #ifndef rn */
  // 消除空白幽灵节点
  vertical-align: middle;
  /* #endif */

  &--errored {
    display: none;
  }
}

.fta-image--circle {
  @include circle();
  overflow: hidden;
}

.fta-image--loading {
  position: absolute;
  /* #ifndef rn */
  width: 0;
  height: 0;
  /* #endif */

  /* #ifdef rn */
  // RN宽高为0时不会发送图片请求
  opacity: 0;
  width: 1px;
  height: 1px;
  /* #endif */
}

.fta-image--flex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $fta-image-bg-color;

  &__text {
    color: $fta-image-text-color;
  }
}
