@import '../../variables/default.scss';
@import '../../mixins/index.scss';

@mixin flex($direction: column) {
  display: flex;
  flex-direction: $direction;
}

.fta-swipe-action {
  position: relative;
  overflow: hidden;
  width: 100%;
  // height: 120px;
  flex: auto;
  height: auto;
  // background-color: #fff;

  &-modal {
    position: relative;
    height: 100%;
    // left: 0;
    width: 100%;
    // top: 0;
    // bottom: 0;
    @include flex-center();
    background-color: $fta-swipe-action-bg-color;
    z-index: 1;
  }

  &-modal__transition {
    /* #ifndef rn */
    transition: 0.2s;
    /* #endif */
  }

  &-button-group {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    @include flex(row);
    height: 100%;
    z-index: 0;
  }

  &-button-group-left {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    @include flex(row);
    height: 100%;
    z-index: 0;
  }

  &-button {
    height: 100%;
    background-color: $fta-swipe-action-option-bg-color;
    @include flex-center();
    padding: $fta-swipe-action-option-padding;

    &__text {
      color: $fta-swipe-action-color;
      font-size: $fta-swipe-action-font-size;
    }
  }

  &-follow {
    // left: 100%;
    right: auto;
  }

  &-follow-left {
    left: auto;
    // right: 100%;
  }
}
