$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;
$u-border-color: #e4e7ed;
$u-bg-color: #f3f4f6;

$u-type-primary: #2979ff;
$u-type-primary-light: #ecf5ff;
$u-type-primary-disabled: #a0cfff;
$u-type-primary-dark: #2b85e4;

$u-type-warning: #ff9900;
$u-type-warning-disabled: #fcbd71;
$u-type-warning-dark: #f29100;
$u-type-warning-light: #fdf6ec;

$u-type-success: #19be6b;
$u-type-success-disabled: #71d5a1;
$u-type-success-dark: #18b566;
$u-type-success-light: #dbf1e1;

$u-type-error: #fa3534;
$u-type-error-disabled: #fab6b6;
$u-type-error-dark: #dd6161;
$u-type-error-light: #fef0f0;

$u-type-info: #909399;
$u-type-info-disabled: #c8c9cc;
$u-type-info-dark: #82848a;
$u-type-info-light: #f4f4f5;

$u-form-item-height: 70rpx;
$u-form-item-border-color: #dcdfe6;

.fta-tag {
  flex-direction: row;
  align-items: center;
  align-self: center;
  flex: 1;
  border: 1px solid #000;
  &__icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
}
.fta-shape-square {
  border-radius: 0;
}
.fta-shape-circle {
  border-radius: 100px;
}
.fta-shape-circleLeft {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.fta-shape-circleRight {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.fta-size-large {
  padding: 12px 20px;
}
.fta-size-medium {
  padding: 8px 14px;
}
.fta-size-small {
  padding: 2px 6px;
}

.fta-mode-light-primary {
  background-color: $u-type-primary-light;
  border: 1px solid $u-type-primary-disabled;
  &__word {
    color: $u-type-primary;
  }
}

.fta-mode-light-success {
  background-color: $u-type-success-light;
  border: 1px solid $u-type-success-disabled;
  &__word {
    color: $u-type-success;
  }
}

.fta-mode-light-error {
  background-color: $u-type-error-light;

  border: 1px solid $u-type-error-disabled;
  &__word {
    color: $u-type-error;
  }
}

.fta-mode-light-warning {
  background-color: $u-type-warning-light;

  border: 1px solid $u-type-warning-disabled;
  &__word {
    color: $u-type-warning;
  }
}

.fta-mode-light-info {
  background-color: $u-type-info-light;

  border: 1px solid $u-type-info-disabled;
  &__word {
    color: $u-type-info;
  }
}

.fta-mode-dark-primary {
  background-color: $u-type-primary;

  &__word {
    color: #ffffff;
  }
}

.fta-mode-dark-success {
  background-color: $u-type-success;

  &__word {
    color: #ffffff;
  }
}

.fta-mode-dark-error {
  background-color: $u-type-error;
  &__word {
    color: #ffffff;
  }
}

.fta-mode-dark-warning {
  background-color: $u-type-warning;
  &__word {
    color: #ffffff;
  }
}

.fta-mode-dark-info {
  background-color: $u-type-info;
  &__word {
    color: #ffffff;
  }
}

.fta-mode-plain-primary {
  background-color: #ffffff;

  border: 1px solid $u-type-primary;
  &__word {
    color: $u-type-primary;
  }
}

.fta-mode-plain-success {
  background-color: #ffffff;

  border: 1px solid $u-type-success;
  &__word {
    color: $u-type-success;
  }
}

.fta-mode-plain-error {
  background-color: #ffffff;

  border: 1px solid $u-type-error;
  &__word {
    color: $u-type-error;
  }
}

.fta-mode-plain-warning {
  background-color: #ffffff;

  border: 1px solid $u-type-warning;
  &__word {
    color: $u-type-warning;
  }
}

.fta-mode-plain-info {
  background-color: #ffffff;

  border: 1px solid $u-type-info;
  &__word {
    color: $u-type-info;
  }
}
