@import '../../variables/default.scss';
@import '../../mixins/index.scss';

.fta-tag {
  @include flex-center();
  height: $fta-tag-height;
  padding: 0 $fta-tag-horizon-padding;
  border-radius: $fta-tag-radius;

  &--care {
    height: care($fta-tag-height);
    padding: 0 care($fta-tag-horizon-padding);
    border-radius: care($fta-tag-radius);
  }

  /* Modifiers */
  &--bordered {
    // prettier-ignore
    border-width:  1PX;
    border-style: solid;
  }

  &--primary {
    border-color: $fta-tag-border-color-primary;
  }

  &--warning {
    border-color: $fta-tag-border-color-warning;
  }

  &--success {
    border-color: $fta-tag-border-color-success;
  }

  &--error {
    border-color: $fta-tag-border-color-error;
  }

  &--info {
    border-color: $fta-tag-border-color-info;
  }

  &__text {
    font-size: $fta-tag-font-size;
    font-weight: $fta-tag-font-weight;

    &--care {
      font-size: care($fta-tag-font-size);
    }

    &--primary {
      color: $fta-tag-border-color-primary;
    }

    &--warning {
      color: $fta-tag-border-color-warning;
    }

    &--success {
      color: $fta-tag-border-color-success;
    }

    &--error {
      color: $fta-tag-border-color-error;
    }

    &--info {
      color: $fta-tag-border-color-info;
    }
  }
}
