@import '../../mixins/index.scss';
@import '../../variables/default.scss';

@mixin flex {
  display: flex;
  flex-direction: row;
}

@mixin fit-content {
  /* #ifndef rn */
  width: fit-content;
  /* #endif */

  /* #ifdef rn */
  align-self: flex-start;
  /* #endif */
}
// prettier-ignore
@mixin border-bottom($width:2PX, $color: transparent){
  border-bottom-width: $width;
  border-bottom-color: $color;
  /* #ifndef rn */
  border-bottom-style: solid;
  /* #endif */
}

.fta-tabs {
  background-color: $fta-tabs-bg-color;
  /* #ifndef alipay */
  @include flex();
  /* #endif */
  // prettier-ignore
  @include border-bottom($fta-tabs-line-height, $fta-tabs-underline-color);
  /* #ifndef h5 rn*/
  width: 100%;
  white-space: nowrap;
  /* #endif */
}

.fta-tabs--vertical {
  @include fit-content();
  flex-direction: column;
  border-bottom-width: 0;
  margin: 0;
}

.fta-tab {
  @include flex();
  @include fit-content();
  // @include border-bottom();
  @include relative();
  // flex: auto;
  margin: $fta-tabs-item-margin;
  justify-content: center;
  align-items: center;
  height: $fta-tabs-height;
  /* #ifndef rn */
  transition: 0.2s ease;
  /* #endif */

  /* #ifndef rn h5 */
  display: inline-flex;
  /* #endif */

  &__text {
    font-size: $fta-tabs-font-size;
    color: $fta-tabs-color;
  }

  &__text--care {
    font-size: care($fta-tabs-font-size);
  }

  &__dot {
    background-color: red;
    top: zoom(-16px);
    @include square-circle(zoom(16px));
    @include relative();
  }

  &__line {
    position: absolute;
    width: 50%;
    // prettier-ignore
    bottom: 0PX;
    @include border-bottom(6px, $fta-tabs-color-active);
  }

  taro-text-core {
    /* #ifdef h5 */
    white-space: nowrap;
    /* #endif */
  }
}

.fta-tab--vertical {
  margin: 0;
  padding: $fta-tabs-vertical-padding;
}

.fta-tab--active {
  // border-bottom-color: $fta-tabs-color-active;

  &__text {
    color: $fta-tabs-color-active;
  }
}

.fta-tab--active--care {
  border-bottom-width: 4px;
}
