@import '@fta/common/function.scss';

@mixin flex-center {
  /* #ifndef rn*/
  display: flex;
  flex-direction: column;
  /* #endif */
  // flex: 1;
  justify-content: center;
  align-items: center;
}

.fta-result {
  @include flex-center();
  &-image {
    margin-top: 200px;
    width: 240px;
    height: 240px;
  }

  &-title {
    margin-top: 20px;
    &__text {
      font-size: 32px;
      line-height: 40px;
      color: #666;
      font-weight: 500;
    }

    &__text--care {
      font-size: care(32px);
      line-height: care(40px);
    }
  }

  &-desc {
    margin-top: 14px;
    &__text {
      font-size: 28px;
      line-height: 32px;
      color: #a0aec4;
    }

    &__text--care {
      font-size: care(28px);
      line-height: care(32px);
    }
  }

  &-button {
    @include flex-center();
    margin-top: 40px;
    border-radius: 8px;
    background-color: #fa871e;
    padding: 18px 48px;
    &__text {
      font-size: 28px;
      line-height: 32px;
      font-weight: 600;
      color: #fff;
    }

    &__text--care {
      font-size: care(28px);
      line-height: care(32px);
    }
  }

  &-button--care {
    margin-top: care(40px);
    border-radius: care(8px);
    padding: care(18px) care(48px);
  }
}
