@import '@fta/common/style/variables/default.scss';
@import '@fta/common/style/mixins/index.scss';
$at-drawer-duration: 300ms !default;

.fta-drawer {
  position: relative;
  z-index: $zindex-drawer;

  /* elements */
  &__mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    // transition: opacity $at-drawer-duration $timing-func;
  }

  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: $at-drawer-content-width;
    text-align: left;
    background-color: $color-bg;
    // overflow-y: auto;
    // -webkit-overflow-scrolling: touch;
    z-index: $zindex-drawer + 1;
  }

  /* modifiers */
  &--left {
    left: 0;
    right: auto;
  }

  &--right {
    left: auto;
    right: 0;
  }
}
