/**
 * Default variables
 */
@import '../functions/index.scss';
@import './custom.scss';

/* The Color of FTA Brand */
$color-brand: #fa871e !default;
$color-brand-light: #ff8843 !default;
$color-brand-dark: #ff5b60 !default;

/* Color */
$color-success: #1fb080 !default;
$color-error: #ff3330 !default;
$color-warning: #ff7000 !default;
$color-info: #1a6ff0 !default;

/* Color Palette */
$color-black-0: #000 !default;
$color-black-1: #333 !default;
$color-black-2: #7f7f7f !default;
$color-black-3: #b2b2b2 !default;

$color-grey-0: #333 !default;
$color-grey-1: #666 !default;
$color-grey-2: #999 !default;
$color-grey-3: #ccc !default;
$color-grey-4: #ededed !default;
$color-grey-5: #f5f5f5 !default;
$color-grey-6: #f7f7f7 !default;

$color-white: #fff !default;
$color-transparent: transparent !default;

/* Text Color */
$color-text-base: #333 !default; // 文字的基本色
$color-text-base-inverse: #fff !default; // 反色
$color-text-secondary: #36d57d !default; // 辅助色
$color-text-placeholder: #c9c9c9 !default;
$color-text-disabled: #ccc !default;
$color-text-title: #2c405a !default; // 文章标题
$color-text-paragraph: #3f536e !default; // 文章段落

$color-text-xs: $color-grey-1 !default;
$color-text-sm: $color-grey-1 !default;
$color-text-md: $color-grey-0 !default;
$color-text-lg: $color-grey-0 !default;
$color-text-xl: $color-grey-0 !default;
$color-text-xxl: $color-grey-0 !default;

/* Link */
$color-link: #6190e8 !default;
$color-link-hover: #79a1eb !default;
$color-link-active: #4f7de2 !default;
$color-link-disabled: #bfbfbf !default;

/* 背景色 */
$color-bg: #fff !default;
$color-bg-base: #fafbfc !default;
$color-bg-light: #ecf5fd !default;
$color-bg-lighter: #ecf5fd !default;
$color-bg-grey: #f7f7f7 !default;

/* 边框颜色 */
$color-border-base: #e9e9e9 !default;
$color-border-split: #e9e9e9 !default; // 分割线
$color-border-light: #e9e9e9 !default;
$color-border-lighter: #e9e9e9 !default;
$color-border-lightest: #e9e9e9 !default;
$color-border-grey: #ccc !default;

/* 图标颜色 */
$color-icon-base: #ccc !default;

/* Border Radius */
$border-radius-xs: zoom(4px) !default;
$border-radius-sm: zoom(8px) !default;
$border-radius-md: zoom(12px) !default;
$border-radius-lg: zoom(16px) !default;
$border-radius-xl: zoom(20px) !default;
$border-radius-xxl: zoom(24px) !default;
/* #ifdef rn */
$border-radius-circle: 50% !default;
/* #endif */

/* 透明度 */
$opacity-active: 0.6 !default; // Button 等组件点击态额透明度
$opacity-disabled: 0.3 !default; // Button 等组件禁用态的透明度

/* Font Size*/
$font-size-xs: zoom(24px) !default; // 非常用字号，用于标签
$font-size-sm: zoom(28px) !default; // 用于辅助信息
$font-size-base: zoom(32px) !default; // 常用字号
$font-size-md: $font-size-base !default; // 常用字号
$font-size-lg: zoom(36px) !default; // 常规标题
$font-size-xl: zoom(40px) !default; // 大标题
$font-size-xxl: zoom(44px) !default; // 用于大号的数字

/* Line Height */
$line-height-base: 1.3 !default; // 常用字号
$line-height-zh: $line-height-base !default; // 常用字号

/* #ifdef rn */
$line-height-xs: $line-height-base * $font-size-xs !default; // 非常用字号，用于标签
$line-height-sm: $line-height-base * $font-size-sm !default; // 用于辅助信息
$line-height-md: $line-height-base * $font-size-md !default; // 常用字号
$line-height-lg: $line-height-base * $font-size-lg !default; // 常规标题
$line-height-xl: $line-height-base * $font-size-xl !default; // 大标题
$line-height-xxl: $line-height-base * $font-size-xxl !default; // 用于大号的数字
/* #endif */

/* #ifndef rn */
$line-height-xs: $line-height-base !default; // 非常用字号，用于标签
$line-height-sm: $line-height-base !default; // 用于辅助信息
$line-height-md: $line-height-base !default; // 常用字号
$line-height-lg: $line-height-base !default; // 常规标题
$line-height-xl: $line-height-base !default; // 大标题
$line-height-xxl: $line-height-base !default; // 用于大号的数字
/* #endif */

/* Font Weight */
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 500 !default;
$font-weight-bolder: 600 !default;
$font-weight-boldest: 700 !default;

/* 水平间距 */
$spacing-h-sm: zoom(8px) !default;
$spacing-h-md: zoom(16px) !default;
$spacing-h-lg: zoom(24px) !default;
$spacing-h-xl: zoom(32px) !default;
$spacing-h-max: zoom(60px) !default;

/* 垂直间距 */
$spacing-v-xs: zoom(8px) !default;
$spacing-v-sm: zoom(12px) !default;
$spacing-v-md: zoom(16px) !default;
$spacing-v-lg: zoom(20px) !default;
$spacing-v-xl: zoom(24px) !default;
$spacing-v-xxl: zoom(28px) !default;
$spacing-v-max: zoom(60px) !default;

/* 图标尺寸 */
$icon-size-sm: zoom(24px) !default;
$icon-size-md: zoom(48px) !default;
$icon-size-lg: zoom(96px) !default;

$icon-size-sm-badge-offset: zoom(12px) !default;
$icon-size-md-badge-offset: zoom(18px) !default;
$icon-size-lg-badge-offset: zoom(24px) !default;

$icon-size-sm-dot-offset: zoom(6px) !default;
$icon-size-md-dot-offset: zoom(6px) !default;
$icon-size-lg-dot-offset: zoom(6px) !default;

$icon-radius: zoom(6px) !default;

/* z-index */
$zindex-divider: 100 !default;
$zindex-steps: 500 !default;
$zindex-tab: 600 !default;
$zindex-form: 700 !default;
$zindex-nav: 800 !default;
$zindex-search-bar: 800 !default;
$zindex-indexes: 805 !default;
$zindex-flot-layout: 810 !default;
$zindex-drawer: 900 !default;
$zindex-modal: 1000 !default;
$zindex-action-sheet: 1010 !default;
$zindex-picker: 1010 !default;
$zindex-curtain: 1080 !default;
$zindex-message: 1090 !default;
$zindex-toast: 1090 !default;

/* timing function */
$timing-func: cubic-bezier(0.36, 0.66, 0.04, 1) !default;

/**
* CSS cubic-bezier timing functions
* http://bourbon.io/docs/#timing-functions
*/
$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53) !default;
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19) !default;
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22) !default;
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06) !default;
$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715) !default;
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035) !default;
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335) !default;
$ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045) !default;

$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94) !default;
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1) !default;
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1) !default;
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1) !default;
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1) !default;
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1) !default;
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1) !default;
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275) !default;

$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955) !default;
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1) !default;
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1) !default;
$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95) !default;
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1) !default;
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86) !default;
$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55) !default;

/**
 * 组件变量
 */

/* Avatar */
$fta-avatar-color: $color-white !default; // 字体颜色
$fta-avatar-bg-color: $color-grey-3 !default; // 背景色
$fta-avatar-weight: $font-weight-bolder !default; //字重
// 图片尺寸
$fta-avatar-size-xs: zoom(96px) !default;
$fta-avatar-size-sm: zoom(112px) !default;
$fta-avatar-size-md: zoom(144px) !default;
$fta-avatar-size-lg: zoom(192px) !default;
// 圆角大小
$fta-avatar-radius-xs: zoom(8px) !default;
$fta-avatar-radius-sm: zoom(10px) !default;
$fta-avatar-radius-md: zoom(12px) !default;
$fta-avatar-radius-lg: zoom(16px) !default;
// 文字大小
$fta-avatar-text-xs: zoom(40px) !default;
$fta-avatar-text-sm: zoom(48px) !default;
$fta-avatar-text-md: zoom(64px) !default;
$fta-avatar-text-lg: zoom(72px) !default;

/* Badge */
$fta-badge-color: $color-white !default;
$fta-badge-font-size: $font-size-xs !default;
$fta-badge-dot-size: zoom(16px) !default;

$fta-badge-height: zoom(32px) !default;
$fta-badge-min-width: $fta-badge-height !default;
$fta-badge-horizon-padding: zoom(11px) !default;
$fta-badge-text-size: zoom(24px);
$fta-badge-coupon-size: zoom(12px);
$fta-badge-coupon-color: $color-white;
$fta-badge-sector-size: zoom(80px);
$fta-badge-sector-text-size: zoom(24px);
$fta-badge-sector-text-padding-top: zoom(12px);

$fta-badge-bg-color-primary: $color-brand !default;
$fta-badge-bg-color-success: $color-success !default;
$fta-badge-bg-color-warning: $color-warning !default;
$fta-badge-bg-color-info: $color-info !default;
$fta-badge-bg-color-error: $color-error !default;

/* Button */
$fta-button-height: zoom(92px) !default;
$fta-button-height-lg: zoom(88px) !default;
$fta-button-height-md: zoom(64px) !default;
$fta-button-height-sm: zoom(48px) !default;

$fta-button-width-lg: zoom(660px) !default;
$fta-button-width-md: zoom(320px) !default;

$fta-button-padding-lg: zoom(24px) !default;
$fta-button-padding-md: zoom(24px) !default;
$fta-button-padding-sm: zoom(24px) !default;

$fta-button-radius-lg: zoom(16px) !default;
$fta-button-radius-md: zoom(12px) !default;
$fta-button-radius-sm: zoom(8px) !default;

$fta-button-circle-radius-lg: zoom(50px) !default;
$fta-button-circle-radius-md: zoom(36px) !default;
$fta-button-circle-radius-sm: zoom(28px) !default;

$fta-button-bg-color-primary: $color-brand !default;
$fta-button-bg-color-secondary: $color-white !default;
$fta-button-bg-color-tertiary: $color-white !default;
$fta-button-bg-color-fourth: $color-white !default;

$fta-button-bg-color-active-primary: $color-brand !default;
$fta-button-bg-color-active-secondary: $color-white !default;
$fta-button-bg-color-active-tertiary: $color-white !default;
$fta-button-bg-color-active-fourth: $color-white !default;

$fta-button-opacity-active-primary: 0.8 !default;
$fta-button-opacity-active-secondary: 0.8 !default;
$fta-button-opacity-active-tertiary: 0.8 !default;
$fta-button-opacity-active-fourth: 0.8 !default;

$fta-button-color-active-primary: $color-white !default;
$fta-button-color-active-secondary: $color-brand !default;
$fta-button-color-active-tertiary: $color-brand !default;
$fta-button-color-active-fourth: $color-grey-1 !default;

$fta-button-color-loading-primary: $color-white !default;
$fta-button-color-loading-secondary: $color-brand !default;
$fta-button-color-loading-tertiary: $color-brand !default;
$fta-button-color-loading-fourth: $color-grey-1 !default;

$fta-button-bg-color-active-primary: $color-brand !default;
$fta-button-bg-color-active-secondary: $color-white !default;
$fta-button-bg-color-active-tertiary: $color-white !default;
$fta-button-bg-color-active-fourth: $color-white !default;
// 禁用
$fta-button-bg-color-disabled-primary: $color-brand !default;
$fta-button-bg-color-disabled-secondary: $color-white !default;
$fta-button-bg-color-disabled-tertiary: $color-white !default;
$fta-button-bg-color-disabled-fourth: $color-white !default;

$fta-button-opacity-disabled-primary: 0.4 !default;
$fta-button-opacity-disabled-secondary: 0.4 !default;
$fta-button-opacity-disabled-tertiary: 0.4 !default;
$fta-button-opacity-disabled-fourth: 0.4 !default;

$fta-button-color-disabled-primary: $color-white !default;
$fta-button-color-disabled-secondary: $color-brand !default;
$fta-button-color-disabled-tertiary: $color-brand !default;
$fta-button-color-disabled-fourth: $color-grey-3 !default;

$fta-button-color-primary: $color-white !default;
$fta-button-color-secondary: $color-brand !default;
$fta-button-color-tertiary: $color-brand !default;
$fta-button-color-fourth: $color-grey-1 !default;

$fta-button-border-color-primary: $color-brand !default;
$fta-button-border-color-secondary: $color-brand !default;
$fta-button-border-color-tertiary: $color-brand !default;
$fta-button-border-color-fourth: $color-grey-4 !default;

$fta-button-border-color-active-primary: $color-brand !default;
$fta-button-border-color-active-secondary: $color-brand !default;
$fta-button-border-color-active-tertiary: $color-white !default;
$fta-button-border-color-active-fourth: $color-grey-4 !default;

$fta-button-font-size-lg: $font-size-md !default;
$fta-button-font-size-md: $font-size-sm !default;
$fta-button-font-size-sm: $font-size-xs !default;

// prettier-ignore
$fta-button-border-width-primary: 0 !default;
// prettier-ignore
$fta-button-border-width-secondary: 1PX !default;
// prettier-ignore
$fta-button-border-width-tertiary: 1PX !default;
// prettier-ignore
$fta-button-border-width-fourth: 1PX !default;

$fta-button-height-sm: 60px !default;
$fta-button-color: $color-brand !default;
$fta-button-border-color-primary: $color-brand !default;
$fta-button-border-color-secondary: $color-brand !default;
$fta-button-border-color-tertiary: $color-brand !default;
$fta-button-bg: $fta-button-color !default;
$fta-button-text-loading-offset: $spacing-h-md !default;

/* Checkbox */
$fta-checkbox-padding: zoom(32px);
$fta-checkbox-bg-color: $color-bg;
$fta-checkbox-border-color: $color-border-light;
$fta-checkbox-circle-size: 40px !default;
$fta-checkbox-icon-size: $font-size-sm !default;
$fta-checkbox-icon-padding-horizon: $spacing-h-lg !default;
$fta-checkbox-icon-inline-horizon: zoom(12px) !default;
$fta-checkbox-icon-color: $color-grey-4 !default;
$fta-checkbox-icon-color-selected: $color-brand !default;
$fta-checkbox-title-color: $color-grey-1 !default;
$fta-checkbox-title-color-selected: $color-text-base !default;
$fta-checkbox-title-color-disabled: $color-grey-2 !default;
$fta-checkbox-title-size: $font-size-lg !default;
$fta-checkbox-title-line-height: $line-height-lg !default;
$fta-checkbox-desc-font-size: $font-size-sm !default;
$fta-checkbox-desc-color: $color-grey-3 !default;
$fta-checkbox-desc-color-selected: $color-grey-2 !default;
$fta-checkbox-desc-color-disabled: $color-grey-3 !default;
$fta-checkbox-title-desc-height: $line-height-sm !default;
$fta-checkbox-title-desc-margin-top: zoom(6px) !default;

/* Curtain */
$fta-curtain-btn-size: 56px;
$fta-curtain-bg-color: rgba(
  $color: #000,
  $alpha: 0.3,
);

/* Divider */
$fta-divider-dot-size: zoom(16px) !default;
$fta-divider-dot-color: $color-grey-2 !default;
$fta-divider-content-color: $color-brand !default;
$fta-divider-text-color: $color-grey-1 !default;
$fta-divider-text-size: $font-size-md !default;
$fta-divider-line-offset: zoom(120px) !default;
$fta-divider-text-margin: $spacing-v-xxl !default;
$fta-divider-line-color: $color-grey-3 !default;

/* Gap */
$fta-gap-bg-color: $color-transparent !default;
$fta-gap-height: zoom(40px) !default;

/* Image */
$fta-image-width: zoom(240px) !default;
$fta-image-height: zoom(240px) !default;
$fta-image-text-color: $color-grey-1 !default;
$fta-image-bg-color: $color-bg-base !default;

/* Drawer */
$fta-drawer-content-width: 460px !default;

// TODO:
/* ImagePicker */
// $fta-image-picker-btn-add-color: $color-grey-3 !default;
// $fta-image-picker-btn-remove-color: $color-white !default;
// $fta-image-picker-btn-remove-bg-color: $color-grey-2 !default;

/* Indexes */
// $fta-indexes-nav-color: $color-link !default;
// $fta-indexes-nav-font-size: $font-size-sm !default;
// $fta-indexes-title-color: $color-black-2 !default;
// $fta-indexes-title-font-size: $font-size-sm !default;
// $fta-indexes-title-bg-color: $color-grey-6 !default;

/* TabBar */
// $fta-tab-bar-bg-color: $color-white !default;
// $fta-tab-bar-color: $color-text-base !default;
// $fta-tab-bar-color-active: $color-brand !default;
// $fta-tab-bar-font-size: $font-size-base !default;
// $fta-tab-bar-icon-color: $color-grey-0 !default;
// $fta-tab-bar-icon-font-size: 48px !default;
// $fta-tab-bar-icon-image-size: 50px !default;

/* Range */
// $fta-range-slider-size: 28px !default;
// $fta-range-rail-height: 2px !default;
// $fta-range-rail-bg-color: #e9e9e9 !default;
// $fta-range-track-bg-color: $color-brand !default;
// $fta-range-slider-color: $color-white !default;
// $fta-range-slider-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2) !default;

/* Rate */
// $fta-rate-icon-size: 20px !default;
// $fta-rate-star-color: #ececec !default;
// $fta-rate-star-color-on: #ffca3e !default;

/* SearchBar */
// $fta-search-bar-btn-color: $color-white !default;
// $fta-search-bar-btn-bg-color: $color-brand !default;

/* InputNumber */
$fta-input-number-text-color: $color-text-base !default;
$fta-input-number-bg-color: $color-grey-6 !default;
$fta-input-number-font-size: $font-size-base !default;
$fta-input-number-font-size-lg: $font-size-xl !default;
$fta-input-number-btn-color: $color-brand !default;
$fta-input-number-btn-size: 30px !default;
$fta-input-number-btn-size-lg: 36px !default;
$fta-input-number-btn-bg-color: $color-grey-4 !default;
$fta-input-number-width-min: 80px !default;
$fta-input-number-width-min-lg: 120px !default;

/* Input */
$fta-input-label-color: $color-text-base !default;
$fta-input-text-color: $color-text-base !default;
$fta-input-font-size: $font-size-md !default;
$fta-input-placeholder-color: $color-grey-3 !default;

/* List */
$fta-list-bg-color: $color-white !default;
$fta-list-border-radius: $border-radius-md !default;
$fta-list-horizon-padding: $spacing-h-lg !default;
$fta-list-vertical-padding: $spacing-v-lg !default;
$fta-list-line-height: $line-height-zh !default;
$fta-list-item-font-size: $font-size-md !default;
$fta-list-item-horizon-padding: $spacing-h-lg !default;
$fta-list-item-disabled-opacity: $opacity-disabled !default;
$fta-list-thumb-size: zoom(40px) !default;
$fta-list-thumb-margin-right: $spacing-h-md !default;
$fta-list-arrow-color: $color-grey-3 !default;
$fta-list-arrow-size: zoom(40px) !default;
$fta-list-text-color: $color-grey-0 !default;
$fta-list-content-color: $color-grey-2 !default;
$fta-list-content-font-size: $font-size-xs !default;
$fta-list-extra-font-size: $font-size-sm !default;
$fta-list-extra-color: $color-grey-2 !default;
$fta-list-extra-width: zoom(235px) !default;

/* Loading */
$fta-loading-size-sm: zoom(32px) !default;
$fta-loading-size-md: zoom(40px) !default;
$fta-loading-size-lg: zoom(48px) !default;
$fta-loading-size: $fta-loading-size-sm !default;
// prettier-ignore
$fta-loading-width-sm: 1PX !default;
// prettier-ignore
$fta-loading-width-md: 2PX !default;
// prettier-ignore
$fta-loading-width-lg: 3PX !default;
$fta-loading-color: $color-brand !default;

/* Modal */
$fta-modal-width: zoom(590px) !default;
$fta-modal-header-size: $font-size-lg;
$fta-modal-content-size: $font-size-md;
$fta-modal-button-size: $font-size-lg;
$fta-modal-header-top-padding: $spacing-v-max !default;
$fta-modal-header-horizon-padding: $spacing-h-max !default;
$fta-modal-content-horizon-padding: $spacing-h-max !default;
$fta-modal-content-top-padding: $spacing-v-lg !default;
$fta-modal-content-bottom-padding: $spacing-v-max !default;
$fta-modal-header-text-color: $color-text-base !default;
$fta-modal-content-text-color: $color-text-base !default;
$fta-modal-btn-default-color: $color-text-base !default;
$fta-modal-btn-confirm-color: $color-brand !default;
$fta-modal-bg-color: $color-white !default;
$fta-modal-line-color: #e8e8e8 !default;
$fta-modal-footer-height: zoom(100px) !default;

/* NavBar */
$fta-nav-bar-height: zoom(88px) !default;
$fta-nav-bar-button-left-offset: zoom(28px) !default;
$fta-nav-bar-button-right-offset: zoom(28px) !default;
$fta-nav-bar-back-icon-size: zoom(32px) !default;
$fta-nav-bar-title-color: $color-grey-0 !default;
$fta-nav-bar-button-color: $color-brand !default;

/* NoticeBar */
$fta-noticebar-padding: zoom(18px) zoom(28px) !default;
$fta-noticebar-text-color: #ff5b00 !default;
$fta-noticebar-bg-color: #fff3e8 !default;
$fta-noticebar-font-size: $font-size-md !default;
$fta-noticebar-line-height: $line-height-md !default;
$fta-noticebar-icon-gap: zoom(20px) !default;
$fta-noticebar-btn-close-size: zoom(32px) !default;
$fta-noticebar-btn-close-margin-left: zoom(55px) !default;
$fta-noticebar-btn-close-color: #ff5b00 !default;

/* Radio */
$fta-radio-padding: zoom(32px);
$fta-radio-bg-color: $color-bg;
$fta-radio-border-color: $color-border-light;
$fta-radio-circle-size: 40px !default;
$fta-radio-icon-size: $font-size-sm !default;
$fta-radio-icon-padding-horizon: $spacing-h-lg !default;
$fta-radio-icon-inline-horizon: zoom(12px) !default;
$fta-radio-icon-color: $color-grey-4 !default;
$fta-radio-icon-color-selected: $color-brand !default;
$fta-radio-title-color: $color-grey-1 !default;
$fta-radio-title-color-selected: $color-text-base !default;
$fta-radio-title-color-disabled: $color-grey-2 !default;
$fta-radio-title-size: $font-size-lg !default;
$fta-radio-title-line-height: $line-height-lg !default;
$fta-radio-desc-font-size: $font-size-sm !default;
$fta-radio-desc-color: $color-grey-3 !default;
$fta-radio-desc-color-selected: $color-grey-2 !default;
$fta-radio-desc-color-disabled: $color-grey-3 !default;
$fta-radio-title-desc-height: $line-height-sm !default;
$fta-radio-title-desc-margin-top: zoom(6px) !default;

/* SegmentedControl */
$fta-segmented-control-color: $color-brand !default;
$fta-segmented-control-color-active: $color-white !default;
$fta-segmented-control-font-size: $font-size-md !default;
$fta-segmented-control-radius: $border-radius-md !default;
$fta-segmented-control-padding: $spacing-v-xs $spacing-h-sm !default;
$fta-segmented-control-disabled-opacity: $opacity-disabled !default;
$fta-segmented-control-min-width: zoom(120px) !default;

/* Steps */
$fta-steps-line-height: 1.5 !default;
$fta-steps-dot-size: zoom(18px) !default;
$fta-steps-dot-text-gap: zoom(20px) !default;
$fta-steps-order-size: zoom(48px) !default;
$fta-steps-order-gap: zoom(12px) !default;
$fta-steps-order-text-gap: zoom(24px) !default;
$fta-steps-custom-text-gap: zoom(12px) !default;
$fta-steps-circle-size: 56px !default;
$fta-steps-line-size: zoom(4px) !default;
$fta-steps-index-color: $color-white !default;
$fta-steps-index-color-active: $color-grey-2 !default;
$fta-steps-index-size: $font-size-sm !default;
$fta-steps-icon-size: $font-size-sm !default;
$fta-steps-bg-color: $color-grey-3 !default;
$fta-steps-bg-color-active: $color-brand !default;
$fta-steps-line-color: $color-grey-3 !default;
$fta-steps-line-color-active: $color-brand !default;
$fta-steps-title-color: $color-grey-3 !default;
$fta-steps-title-color-active: $color-black-0 !default;
$fta-steps-title-size: $font-size-sm !default;
$fta-steps-desc-color: $color-grey-4 !default;
$fta-steps-desc-color-active: $color-grey-3 !default;
$fta-steps-desc-size: $font-size-xs !default;

/* SwipeAction */
$fta-swipe-action-color: $color-white !default;
$fta-swipe-action-font-size: $font-size-base !default;
$fta-swipe-action-bg-color: $color-white !default;
$fta-swipe-action-option-bg-color: $color-grey-2 !default;
$fta-swipe-action-option-padding: 0 zoom(40px) !default;

/* Switch */
$fta-switch-padding: $spacing-v-lg $spacing-h-xl $spacing-v-lg 0 !default;
$fta-switch-title-margin-left: $spacing-h-xl !default;
$fta-switch-title-color: $color-grey-0 !default;
$fta-switch-title-size: $font-size-md !default;

/* Tabs */
$fta-tabs-height: zoom(88px);
$fta-tabs-color: $color-text-base !default;
$fta-tabs-color-active: $color-brand !default;
$fta-tabs-font-size: $font-size-lg !default;
// prettier-ignore
$fta-tabs-line-height: 1PX !default;
$fta-tabs-underline-color: $color-grey-5 !default;
$fta-tabs-bg-color: $color-white !default;
$fta-tabs-item-margin: 0 $spacing-h-lg !default;
$fta-tabs-vertical-padding: 0 $spacing-v-lg !default;

/* Tag */
$fta-tag-height: zoom(40px) !default;
$fta-tag-bg-color: $color-white !default;
$fta-tag-radius: $border-radius-sm !default;
$fta-tag-horizon-padding: zoom(12px) !default;
$fta-tag-font-size: zoom(24px) !default;
$fta-tag-font-weight: $font-weight-normal !default;

$fta-tag-color-primary: $color-brand !default;
$fta-tag-color-success: $color-success !default;
$fta-tag-color-warning: $color-warning !default;
$fta-tag-color-info: $color-info !default;
$fta-tag-color-error: $color-error !default;

$fta-tag-border-color-primary: $color-brand !default;
$fta-tag-border-color-success: $color-success !default;
$fta-tag-border-color-warning: $color-warning !default;
$fta-tag-border-color-info: $color-info !default;
$fta-tag-border-color-error: $color-error !default;

/* Textarea */
$fta-textarea-padding: $spacing-v-md !default;
$fta-textarea-font-size: $font-size-lg !default;
$fta-textarea-input-height: $fta-textarea-font-size * 4 !default;
$fta-textarea-radius: $border-radius-md !default;
$fta-textarea-bg-color: $color-bg !default;
$fta-textarea-tips-color: $color-text-placeholder !default;
$fta-textarea-tips-limit-color: $color-error !default;
$fta-textarea-tips-size: $font-size-base !default;

/* Timeline */
$fta-timeline-offset-left: 40px !default;
$fta-timeline-title-color: $color-grey-0 !default;
$fta-timeline-title-font-size: $font-size-base !default;
$fta-timeline-desc-color: $color-grey-1 !default;
$fta-timeline-desc-font-size: $font-size-sm !default;
$fta-timeline-dot-size: 24px !default;
$fta-timeline-dot-color: $color-bg !default;
$fta-timeline-dot-border-color: $color-brand-light !default;
$fta-timeline-line-color: $color-border-lighter !default;

/* Toast */
$fta-toast-color: $color-white !default;
$fta-toast-bg-color: rgba(
  $color: #000000,
  $alpha: 0.8,
) !default;
$fta-toast-padding: zoom(30px) zoom(28px) !default;
$fta-toast-min-width: zoom(164px) !default;
$fta-toast-max-width: zoom(448px) !default;
$fta-toast-min-height: zoom(164px) !default;
$fta-toast-offset: zoom(200px) !default;
$fta-toast-radius: zoom(16px) !default;
$fta-toast-loading-radius: zoom(12px) !default;
$fta-toast-loading-size: zoom(56px) !default;
$fta-toast-loading-margin-bottom: zoom(15px) !default;

/* ActionSheet */
$fta-action-sheet-radius: $border-radius-lg !default;
$fta-action-sheet-border-color: $color-border-base !default;

$fta-action-sheet-header-size: $font-size-lg !default;
$fta-action-sheet-header-color: $color-black-3 !default;
$fta-action-sheet-header-padding: $spacing-v-xxl 0 !default;
$fta-action-sheet-header-bg-color: transparent !default;

$fta-action-sheet-header-title-height: zoom(117px) !default;
$fta-action-sheet-header-no-title-height: zoom(72px) !default;
$fta-action-sheet-header-title-color: $color-grey-0 !default;
$fta-action-sheet-header-title-weight: bold !default;
$fta-action-sheet-header-title-size: $font-size-md !default;

$fta-action-sheet-header-close-size: $font-size-md !default;
$fta-action-sheet-border-close-right: zoom(44px) !default;

$fta-action-sheet-header-left-padding: zoom(48px) !default;
$fta-action-sheet-header-right-padding: zoom(28px) !default;

$fta-action-sheet-button-left-size: $font-size-md !default;
$fta-action-sheet-button-left-color: $color-grey-1 !default;

$fta-action-sheet-button-right-color: $color-white !default;
$fta-action-sheet-button-right-size: $font-size-md !default;
$fta-action-sheet-button-right-line-height: $font-size-xl !default;
$fta-action-sheet-button-right-padding: $spacing-v-sm $spacing-h-lg !default;
$fta-action-sheet-button-right-bg-color: $color-brand !default;
$fta-action-sheet-button-right-radius: zoom(32px) !default;

$fta-action-sheet-item-size: $font-size-lg !default;
$fta-action-sheet-item-color: $color-grey-0 !default;
$fta-action-sheet-item-padding: $spacing-v-xxl 0 !default;

$fta-action-sheet-border-color: $color-border-base !default;

$fta-action-sheet-item-size: $font-size-lg !default;
$fta-action-sheet-item-color: $color-grey-0 !default;
$fta-action-sheet-item-padding: $spacing-v-xxl zoom(40px) !default;
$fta-action-sheet-item-hint-color: $color-grey-2 !default;
$fta-action-sheet-item-hint-size: $font-size-sm !default;
$fta-action-sheet-item-hint-margin-top: $spacing-v-sm !default;

$fta-action-sheet-footer-border-width: zoom(12px) !default;
$fta-action-sheet-footer-border-color: $color-grey-6 !default;
$fta-action-sheet-footer-size: $font-size-lg !default;
$fta-action-sheet-footer-color: $color-grey-0 !default;
$fta-action-sheet-footer-padding: $spacing-v-xxl 0 !default;

$fta-action-sheet-footer-height: zoom(136px) !default;
$fta-action-sheet-footer-button-border-color: $color-border-base !default;
$fta-action-sheet-example-offset: zoom(40px) !default;

/* Empty */
$fta-empty-button-margin-top: zoom(36px) !default;
$fta-empty-image-size: zoom(420px) !default;
$fta-empty-title-color: $color-grey-1 !default;
$fta-empty-desc-margin-top: zoom(12px) !default;
$fta-empty-desc-color: $color-grey-2 !default;

/* Result */
$fta-result-button-margin-top: zoom(40px) !default;
$fta-result-image-size: zoom(240px) !default;
$fta-result-image-margin-top: zoom(200px) !default;
$fta-result-title-margin-top: zoom(14px) !default;
$fta-result-title-color: $color-grey-1 !default;
$fta-result-desc-margin-top: zoom(14px) !default;
$fta-result-desc-color: $color-grey-2 !default;
$fta-result-desc-margin-top: zoom(14px) !default;

/* Keyboard */
$fta-keyboard-input-padding: zoom(28px) zoom(32px);
$fta-keyboard-input-inner-height: zoom(84px);
$fta-keyboard-input-inner-radius: zoom(12px);
$fta-keyboard-input-inner-padding: zoom(32px);
$fta-keyboard-input-inner-bg-color: #f6f6f6;
$fta-keyboard-input-inner-color: $color-grey-0;
$fta-keyboard-input-placeholder-color: $color-grey-2;
$fta-keyboard-input-placeholder-size: $font-size-md;
$fta-keyboard-input-inner-font-size: $font-size-xl;

$fta-keyboard-bg-color: #ececec;
$fta-keyboard-padding: 0 zoom(16px) zoom(16px);

$fta-keyboard-item-margin-top: zoom(16px);
$fta-keyboard-item-width: zoom(220px);
$fta-keyboard-item-height: zoom(84px);
$fta-keyboard-item-radius: zoom(8px);
$fta-keyboard-item-bg-color: $color-white;
$fta-keyboard-item-font-size: $font-size-xxl;
$fta-keyboard-item-color: $color-grey-0;

/* Upload */
$fta-upload-width: zoom(332px);
$fta-upload-height: zoom(202px);
$fta-upload-radius: $border-radius-sm;
$fta-upload-camera-size: zoom(75px);
$fta-upload-camera-margin-top: zoom(47px);
$fta-upload-placeholder-size: $font-size-xs;
$fta-upload-placeholder-color: $color-grey-0;
$fta-upload-placeholder-margin-top: zoom(14px);
$fta-upload-bg-color: $color-bg-light;
$fta-upload-tip-size: $font-size-xs;
$fta-upload-tip-color: $color-error;
$fta-upload-tip-margin-top: zoom(10px);

/* Tooltip */
$fta-tooltip-popover-width: 50vw;
$fta-tooltip-popover-offset-left: zoom(-20px);
$fta-tooltip-popover-offset-bottom: 150%;
$fta-tooltip-popover-border-radius: zoom(16px);
$fta-tooltip-popover-padding: zoom(16px) zoom(24px);
$fta-tooltip-popover-bg-color: #ff5b00;

$fta-tooltip-text-size: $font-size-md;
$fta-tooltip-text-color: $color-white;
$fta-tooltip-text-line-height: $font-size-md * 1.1;

$fta-tooltip-icon-width: zoom(28px);
$fta-tooltip-icon-height: zoom(14px);
$fta-tooltip-icon-offset-left: zoom(24px);
