@import '../../mixins/index.scss';
@import '../../variables/default.scss';

.fta-keyboard {
  background-color: $fta-keyboard-bg-color;
  padding: $fta-keyboard-padding;
  @include display-flex(row);
  justify-content: space-between;
  flex-wrap: wrap;

  &-input {
    padding: $fta-keyboard-input-padding;

    &__inner {
      @include display-flex();
      @include border-box();
      width: 100%;
      height: $fta-keyboard-input-inner-height;
      border-radius: $fta-keyboard-input-inner-radius;
      background-color: $fta-keyboard-input-inner-bg-color;
      padding: 0 $fta-keyboard-input-inner-padding;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;

      &-text {
        font-weight: $font-weight-bold;
        color: $fta-keyboard-input-inner-color;
        font-size: $fta-keyboard-input-inner-font-size;

        @include nrn {
          white-space: nowrap;
        }
      }
    }
  }

  &-item {
    @include flex-center();
    margin-top: $fta-keyboard-item-margin-top;
    width: $fta-keyboard-item-width;
    height: $fta-keyboard-item-height;
    background-color: $fta-keyboard-item-bg-color;
    border-radius: $fta-keyboard-item-radius;

    &__text {
      font-size: $fta-keyboard-item-font-size;
      color: $fta-keyboard-item-color;
    }

    &--hover {
      background: #dddddd;
    }
  }

  &-delete {
    @include relative();
    // @include flex-center();
    width: zoom(61px);
    height: zoom(36px);
    overflow: hidden;

    &-square {
      position: absolute;
      height: 100%;
      width: zoom(43px);
      top: 0;
      left: zoom(18px);
      background: #666666;
      text-align: center;
      @include flex-center();
    }

    &-triangle {
      @include square(0);
      position: absolute;
      left: zoom(-17px);
      top: 0;
      border: zoom(18px) solid transparent;
      border-right-color: #666666;
    }

    &__text {
      @include relative();
      z-index: 1;
      color: $color-white;
      font-size: $font-size-md;
      line-height: zoom(36px);
      @include nrn {
        top: zoom(-3px);
      }
    }
  }

  &-placeholder {
    color: $fta-keyboard-input-placeholder-color;
    font-weight: $font-weight-normal;
    font-size: $fta-keyboard-input-placeholder-size;
  }
}
