@import '../../mixins/index.scss';
@import '../../variables/default.scss';

.fta-nav-bar {
  @include relative();
  background-color: $color-white;

  &-left-button {
    margin-left: $fta-nav-bar-button-left-offset;
  }

  &-right-button {
    margin-right: $fta-nav-bar-button-right-offset;
  }

  &-title-container {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
  }

  &-title-text {
    letter-spacing: 1px;
    color: $fta-nav-bar-title-color;
    font-weight: $font-weight-bolder;
  }

  &-custom-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 14px;
    align-items: center;
  }

  &-back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: $fta-nav-bar-button-left-offset;
    &__image {
      @include square($fta-nav-bar-back-icon-size);

      &--care {
        @include square(care($fta-nav-bar-back-icon-size));
      }
    }
  }
}

.fta-nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // stretch
  height: $fta-nav-bar-height;
}

.fta-status-bar {
  // prettier-ignore
  height: 44PX;
}

.fta-nav-bar-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  position: relative;
  z-index: 10;
}
