@import '../../mixins/index.scss';
@import '../../variables/default.scss';
.fta-nav-bar-button {
  display: flex;
  position: relative;
  z-index: 10;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &__text {
    letter-spacing: 1px;
    color: $fta-nav-bar-button-color;
    @include nrn {
      line-height: 1;
    }
  }
}
