@import '../../variables/default.scss';
@import '../../mixins/index.scss';

.fta-list {
  background-color: $fta-list-bg-color;
  // @include hairline-top-bottom();

  /* modifiers */
  &--no-border {
    &::after,
    &::before {
      content: initial;
      border: none;
    }
  }
}
