@import '../../variables/default.scss';
@import '../../mixins/index.scss';

.fta-list {
  background-color: $fta-list-bg-color;
  border-radius: $fta-list-border-radius;
  overflow: hidden;

  // @include hairline-top-bottom();

  /* elements */
  &__item-container {
    @include flex-center();

    .item-icon {
      margin-right: $fta-list-thumb-margin-right;
      .fta-icon {
        font-size: $fta-list-thumb-size;
      }
    }
  }

  &__item {
    padding: $fta-list-vertical-padding $fta-list-horizon-padding;
    position: relative;
    box-sizing: border-box;
    color: $fta-list-text-color;
    @include active;
    @include hairline-bottom-relative($left: $fta-list-horizon-padding);

    &--thumb {
      .item-thumb {
        margin-right: $fta-list-thumb-margin-right;
        @include square($fta-list-thumb-size);
        &__info {
          @include square(100%);
        }
      }

      .item-thumb--care {
        @include square(care($fta-list-thumb-size));
      }
    }

    &--disabled {
      .fta-list__item-container {
        opacity: $fta-list-item-disabled-opacity;
      }

      &:active {
        background-color: transparent !important;
      }
    }

    &--no-border::after {
      content: initial;
      border: none;
    }

    .item-content {
      &__info {
        &-title {
          @include line(1);
          text-overflow: ellipsis;
          color: inherit;
          font-size: $fta-list-item-font-size;
          line-height: $fta-list-line-height;
        }

        &-title--care {
          font-size: care($fta-list-item-font-size);
        }

        &-note {
          color: $fta-list-content-color;
          font-size: $fta-list-content-font-size;
          line-height: $fta-list-line-height;
        }

        &-note--care {
          font-size: care($font-size-base);
        }
      }
    }

    .item-extra {
      position: relative;

      &__info,
      &__icon,
      &__image,
      &__switch {
        display: inline-block;
      }

      &__info {
        @include line(1);
        max-width: 100%;
        color: $fta-list-extra-color;
        padding-right: $fta-list-arrow-size;
        font-size: $fta-list-extra-font-size;
        line-height: $fta-list-line-height;
        vertical-align: middle;
        box-sizing: border-box;
      }

      &__info--care {
        font-size: care($fta-list-extra-font-size);
      }

      &__icon {
        right: -$spacing-h-sm;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;

        &-arrow {
          color: $fta-list-arrow-color;
          font-size: $fta-list-arrow-size;
        }

        &-arrow--care {
          font-size: care($fta-list-arrow-size);
        }
      }

      // &__switch {
      //   vertical-align: middle;
      // }

      &__image {
        @include square($fta-list-thumb-size);
        margin-right: $fta-list-arrow-size;
        vertical-align: middle;

        &-info {
          @include square(100%);
        }

        &--care {
          @include square(care($fta-list-thumb-size));
        }
      }
    }
  }

  &__item-content {
    @include flex(1);
    overflow: hidden;
    margin-right: $fta-list-arrow-size;
  }

  &__item-extra {
    // @include flex(0, 0, $fta-list-extra-width);

    max-width: $fta-list-extra-width;
    text-align: right;
  }

  /* modifiers */
  &--no-border {
    &::after,
    &::before {
      content: initial;
      border: none;
    }
  }
}
