@import '../../variables/default.scss';
@import '../../mixins/index.scss';
@import '../../mixins/index.scss';

$fta-list-arrow-size: $fta-list-arrow-size / 1.5;
.fta-list {
  /* elements */
  &__item-container {
    flex-direction: row;
    align-items: center;

    .item-icon {
      margin-right: $fta-list-item-horizon-padding;
    }
  }

  .item-border-line {
    border-bottom-width: 1px;
    border-bottom-color: $color-border-light;
    margin-left: $fta-list-horizon-padding;
  }

  &__item {
    padding: $fta-list-vertical-padding $fta-list-horizon-padding;

    &--thumb {
      .item-thumb {
        margin-right: $fta-list-item-horizon-padding;
        @include square($fta-list-thumb-size);
        &__info {
          @include square(100%);
        }
      }

      .item-thumb--care {
        @include square(care($fta-list-thumb-size));
      }
    }

    &--disabled {
      opacity: $fta-list-item-disabled-opacity;
    }

    .item-extra {
      @include flex-center();

      &__info {
        max-width: 100%;
        color: $fta-list-extra-color;
        padding-right: $fta-list-arrow-size;
        font-size: $fta-list-extra-font-size;
        line-height: $fta-list-line-height * $fta-list-extra-font-size;
      }

      &__info--care {
        font-size: care($fta-list-extra-font-size);
        line-height: care($fta-list-line-height * $fta-list-extra-font-size);
      }

      &__icon {
        right: -$spacing-h-sm;
        position: absolute;

        &-arrow {
          @include square($fta-list-arrow-size);
        }

        &-arrow--care {
          @include square(care($fta-list-arrow-size));
        }
      }

      &__image {
        @include square($fta-list-thumb-size);
        margin-right: $fta-list-arrow-size;

        &-info {
          @include square(100%);
        }
      }

      &__image--care {
        @include square(care($fta-list-thumb-size));
      }
    }
  }

  &__item-content {
    @include flex(1);
    overflow: hidden;
    margin-right: $fta-list-arrow-size;
  }

  &__item-extra {
    max-width: $fta-list-extra-width;
    text-align: right;
  }
}

.item-content__info {
  &-title {
    color: $fta-list-text-color;
    font-size: $fta-list-item-font-size;
    line-height: $fta-list-line-height * $fta-list-item-font-size;
  }

  &-title--care {
    font-size: care($fta-list-item-font-size);
    line-height: care($fta-list-line-height * $fta-list-item-font-size);
  }

  &-note {
    color: $fta-list-content-color;
    font-size: $fta-list-content-font-size;
    line-height: $fta-list-line-height * $fta-list-content-font-size;
  }

  &-note--care {
    font-size: care($fta-list-content-font-size);
    line-height: care($fta-list-content-font-size * $fta-list-line-height);
  }
}
