@import '../../variables/default.scss';
@import '../../mixins/index.scss';
@import '../../mixins/index.scss';

$fta-list-item-horizontal-padding: 24px;
$fta-border-color: #d6e4ef;

@mixin squareImg($size: 56px) {
  width: $size;
  height: $size;

  &__info {
    width: 100%;
    height: 100%;
  }
}

.fta-list {
  /* elements */
  &__item-container {
    flex-direction: row;
    align-items: center;

    .item-icon {
      margin-right: $fta-list-item-horizontal-padding;
    }
  }

  .item-border-line {
    border-bottom-width: 1px;
    border-bottom-color: $fta-border-color;
    margin-left: $spacing-h-lg;
  }

  &__item {
    padding: $spacing-v-lg $spacing-h-lg;
    position: relative;

    // box-sizing: border-box;
    // color: $fta-list-text-color;
    // font-size: $font-size-lg;
    // line-height: $line-height-zh * $font-size-lg;
    // @include active;
    // @include hairline-bottom-relative($left: $spacing-h-lg);

    &--thumb {
      .item-thumb {
        margin-right: $fta-list-item-horizontal-padding;
        @include squareImg($fta-list-thumb-size);
      }

      .item-thumb--care {
        @include squareImg(care($fta-list-thumb-size));
      }
    }

    &--disabled {
      opacity: $opacity-disabled;
      .at-list__item-container {
        // opacity: $opacity-disabled;
      }

      &:active {
        background-color: transparent !important;
      }
    }

    .item-extra {
      position: relative;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      // justify-content: center;
      // align-items: center;
      // flex: 1;
      // align-self: stretch;

      &__info {
        @include line(1);
        max-width: 100%;
        color: $fta-list-extra-color;
        padding-right: 30px;
        font-size: $font-size-lg;
        // vertical-align: middle;
        // box-sizing: border-box;
      }

      &__info--care {
        font-size: care($font-size-lg);
      }

      &__icon {
        right: -12px;
        position: absolute;

        &-arrow {
          @include squareImg($font-size-lg);
        }

        &-arrow--care {
          @include squareImg(care($font-size-lg));
        }
      }

      &__image {
        @include squareImg($fta-list-thumb-size);

        // vertical-align: middle;
        margin-right: 30px;

        &-info {
          width: 100%;
          height: 100%;
        }
      }

      &__image--care {
        @include squareImg(care($fta-list-thumb-size));
      }
    }
  }

  &__item-content {
    @include flex(1);
    overflow: hidden;
    margin-right: 40px;
  }

  &__item-extra {
    // @include flex(0, 0, $fta-list-extra-width);
    max-width: $fta-list-extra-width;
    text-align: right;
  }
}

.item-content__info {
  &-title {
    // @include line(1);
    color: $fta-list-text-color;
    font-size: $font-size-lg;
    line-height: $line-height-zh * $font-size-lg;
    // line-height: $line-height-zh;
  }

  &-title--care {
    font-size: care($font-size-lg);
    line-height: care($line-height-zh * $font-size-lg);
  }

  &-note {
    color: $fta-list-content-color;
    font-size: $font-size-base;
    line-height: $line-height-zh * $font-size-base;
  }

  &-note--care {
    font-size: care($font-size-base);
    line-height: care($line-height-zh * $font-size-base);
  }
}
