@import '../../variables/default.scss';
@import '../../mixins/index.scss';

.fta-action-sheet {
  &__item {
    padding: $fta-action-sheet-item-padding;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @include nrn {
      display: flex;
    }

    @include nrn {
      @include active();
      @include line(1);
      @include hairline-bottom-relative();
    }

    @include rn {
      border-bottom-width: 1px;
      border-bottom-color: $fta-action-sheet-border-color;
    }

    &__text {
      font-size: $fta-action-sheet-item-size;
      line-height: $fta-action-sheet-item-size;
      color: $fta-action-sheet-item-color;
    }

    &__hint {
      color: $fta-action-sheet-item-hint-color;
      font-size: $fta-action-sheet-item-hint-size;
      line-height: $fta-action-sheet-item-hint-size;
      margin-top: $fta-action-sheet-item-hint-margin-top;
      // text-align: center;
      // @include nrn {
      //   display: block;
      // }
    }
  }

  .item-no-border {
    border-bottom-width: 0;
  }

  .item-left {
    align-items: flex-start;
  }
}
