@import '../../variables/default.scss';
@import '../../mixins/index.scss';

.fta-action-sheet {
  &__header {
    text-align: center;
    padding: $fta-action-sheet-header-padding;
    background-color: $fta-action-sheet-header-bg-color;

    @include rn {
      border-bottom-width: 1px;
      border-bottom-color: $fta-action-sheet-border-color;
    }

    @include nrn {
      position: relative;
      // @include hairline-bottom($fta-action-sheet-border-color);
    }

    @include line(1);
    @include hairline-bottom-relative();

    &--no-title {
      padding: 0;
      @include rn {
        min-height: $fta-action-sheet-header-no-title-height;
      }
      @include nrn {
        min-height: $fta-action-sheet-header-no-title-height !important;
      }
    }

    &--no-border {
      border-bottom-width: 0;
      @include nrn {
        &::after {
          border-bottom: 0;
        }
      }
    }

    &--complex {
      @include border-box();
      @include display-flex(row);
      @include relative();
      justify-content: center;
      align-items: center;
      min-height: $fta-action-sheet-header-title-height;
    }

    &-confirm {
      @include nrn {
        display: block;
      }
      position: absolute;
      overflow: hidden;
      right: $fta-action-sheet-header-right-padding;
      background-color: $fta-action-sheet-button-right-bg-color;
      color: $fta-action-sheet-button-right-color;
      line-height: $fta-action-sheet-button-right-line-height;
      font-size: $fta-action-sheet-button-right-size;
      padding: $fta-action-sheet-button-right-padding;
      border-radius: $fta-action-sheet-button-right-radius;
    }

    &-cancel {
      position: absolute;
      color: $fta-action-sheet-button-left-color;
      font-size: $fta-action-sheet-button-left-size;
      left: $fta-action-sheet-header-right-padding;
    }

    &-text {
      color: $fta-action-sheet-header-title-color;
      font-weight: $fta-action-sheet-header-title-weight;
      font-size: $fta-action-sheet-header-title-size;
    }

    &-close {
      @include square($fta-action-sheet-header-close-size);
      position: absolute;
      right: $fta-action-sheet-header-right-padding;
    }

    &__text {
      color: $fta-action-sheet-header-color;
      font-size: $fta-action-sheet-header-size;
      text-align: center;
    }
  }
}
