@import '../../variables/default.scss';
@import '../../mixins/index.scss';

$fta-action-sheet-duration: 300ms;

.fta-action-sheet {
  @include rn {
    display: none;
  }
  @include nrn {
    position: fixed;
    visibility: hidden;
    transition: visibility $fta-action-sheet-duration $timing-func;
  }

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: $zindex-action-sheet;

  /* elements */
  &__overlay {
    @include overlay;
    opacity: 0;
    @include nrn {
      transition: opacity $fta-action-sheet-duration ease-in;
    }
  }

  &__container {
    border-radius: $fta-action-sheet-radius $fta-action-sheet-radius 0 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: $color-white;
    @include nrn {
      transform: translate3d(0, 100%, 0);
      transition: transform $fta-action-sheet-duration $timing-func;
    }
  }

  // &__header {
  //   padding: $spacing-v-lg $spacing-h-lg;
  //   color: $color-black-3;
  //   font-size: $font-size-base;
  //   text-align: center;
  //   line-height: $line-height-zh;
  //   @include hairline-bottom();
  // }

  // &__footer {
  //   padding: $spacing-v-lg $spacing-h-lg;
  //   font-size: $font-size-xl;
  //   border-top: 12px solid rgba($color: $color-border-base, $alpha: 0.3);
  //   @include active();
  // }

  &__body {
    text-align: center;
  }

  /* modifiers */
  &--active {
    @include nrn {
      visibility: visible;
    }
    @include rn {
      position: absolute;
      display: flex;
    }

    .fta-action-sheet__overlay {
      opacity: 1;
    }

    .fta-action-sheet__container {
      @include nrn {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
