@import '@fta/common/style/variables/default.scss';
@import '@fta/common/style/mixins/index.scss';

.fta-action-sheet {
  &__footer {
    border-top-width: 12px;
    border-top-color: rgba($color: $color-border-base, $alpha: 0.3);
    // border-top-style: solid;
    @include active();

    &__text {
      padding: $spacing-v-lg $spacing-h-lg;
      font-size: $font-size-xl;
      text-align: center;
    }
  }
}
