@import '../../variables/default.scss';
@import '../../mixins/index.scss';

$toast-prefix: 'fta-toast';

%absolute-fill {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* #ifndef rn */

  /* #endif */
}

.#{$toast-prefix} {
  /* #ifdef rn */
  position: absolute;
  /* #endif */
  /* #ifndef rn */
  position: fixed;
  /* #endif */
  @extend %absolute-fill;
  // flex: 1;
  z-index: $zindex-toast;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--custom {
    height: 100vh;
  }

  &-view {
    display: flex;
    align-self: center;
    /* #ifndef rn */
    width: fit-content;
    box-sizing: border-box;
    pointer-events: auto;
    animation: fta-toast-text 0.2s ease;
    /* #endif */
    background-color: $fta-toast-bg-color;
    padding: $fta-toast-padding;
    border-radius: $fta-toast-radius;
    max-width: $fta-toast-max-width;
    min-width: $fta-toast-min-width;
    min-height: $fta-toast-min-height;

    &--loading {
      flex-direction: column;
      align-items: center;
      border-radius: $fta-toast-loading-radius;
      justify-content: center;
    }

    &--icon {
      flex-direction: row;
    }
  }

  &-loading {
    @include square($fta-toast-loading-size);
  }

  &__text {
    @include nrn {
      color: $fta-toast-color !important;
    }
    @include rn {
      color: $fta-toast-color;
    }
    text-align: center;
    margin-top: $fta-toast-loading-margin-bottom;
    line-height: $font-size-md;
  }

  &--overlay {
    @include overlay;
  }

  &--transparent {
    /* #ifndef rn */
    pointer-events: none;
    /* #endif */
  }

  &--center {
    align-items: center;
  }

  &--top {
    align-items: flex-start;
    padding-top: $fta-toast-offset;
  }

  &--bottom {
    align-items: flex-end;
    padding-bottom: $fta-toast-offset;
  }
}

@keyframes fta-toast-text {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
