@import '../../variables/default.scss';
@import '../../mixins/index.scss';
.fta-noticebar {
  display: flex;
  @include relative();
  padding: $spacing-v-sm $spacing-h-lg;

  background-color: $fta-noticebar-bg-color;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;

  &-icon {
    @include nrn {
      display: inline-block;
      vertical-align: middle;
    }
    margin-right: $fta-noticebar-icon-gap;
  }

  /* elements */
  &__content {
    flex: 1;
    color: $fta-noticebar-text-color;
    @include nrn {
      line-height: $line-height-zh;
      word-break: break-all;
      word-wrap: break-word;
      display: inline-block;
      min-width: 0;
    }

    // @include flex-center();

    &--marquee {
      @include flex();
      flex-direction: row;
      justify-content: flex-start;
      overflow: hidden;
    }

    &-text {
      color: $fta-noticebar-text-color;
    }

    &-inner {
      &--marquee {
        padding-left: 100%;
        // height: $fta-noticebar-font-size * 1.5;
        @include nrn {
          white-space: nowrap;
          transform: translateZ(0);
          display: inline-block;
          animation: fta-marquee 1s linear infinite both;
        }
      }
    }

    &-text {
      font-size: $fta-noticebar-font-size;
      line-height: 0;

      &--care {
        font-size: care($fta-noticebar-font-size);
      }
    }
  }

  &__close {
    width: $fta-noticebar-btn-close-size;
    height: $fta-noticebar-btn-close-size;
    margin-left: $fta-noticebar-icon-gap;
    @include flex-center();

    @include nrn {
      font-size: 0;
      line-height: 0;
    }

    .fta-icon-close {
      color: $fta-noticebar-btn-close-color;
      font-size: $fta-noticebar-btn-close-size;
      @include rn {
        @include square($fta-noticebar-btn-close-size);
      }

      &--care {
        font-size: care($fta-noticebar-btn-close-size);
        @include rn {
          @include square(care($fta-noticebar-btn-close-size));
        }
      }
    }

    &--care {
      width: care($fta-noticebar-btn-close-size);
      height: care($fta-noticebar-btn-close-size);
    }
  }

  /* modifiers */

  &--single {
    @include nrn {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &--weapp {
    .fta-noticebar__content-inner {
      @include weapp {
        animation: none;
      }
      @include alipay {
        animation: none;
      }
    }
  }

  &__text {
    &--marquee {
      @include nrn {
        white-space: nowrap;
      }
    }

    &--single {
      @include nrn {
        white-space: nowrap;
      }
    }
  }
}

@keyframes fta-marquee {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
