.fta-select-wrap {
  width: 100%;
  background-color: #eeeeef;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 9px;
  &__item {
    flex-grow: 1;
    text-align: center;
    height: 66px;
    line-height: 66px;
    border-radius: 8px;
    font-size: 28px;
  }
  &__aitem {
    flex-grow: 1;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    border-radius: 8px;
    font-size: 28px;
    font-weight: bold;
  }
}
