@use 'sass:math';

@mixin flex($direction: column) {
  display: flex;
  flex-direction: $direction;
}

@mixin flex-center($direction: column) {
  @include flex($direction);
  justify-content: center;
  align-items: center;
}

@mixin box($width, $height, $margin, $padding) {
  width: $width;
  @if $height {
    height: $height;
  } @else {
    height: $width;
  }
  @if $margin {
    margin: $margin;
  }
  @if $padding {
    padding: $padding;
  }

  /*  #ifndef rn  */
  box-sizing: border-box;
  /*  #endif  */
}

@mixin square($size, $circle: false) {
  @include box($size);
  @if $circle {
    border-radius: math.div($size, 2);
  }
}

@mixin full($z-index) {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  @if $z-index {
    z-index: $z-index;
  }
}

@mixin text($font-size, $color, $line-height, $font-weight) {
  font-size: $font-size;
  color: $color;
  @if $line-height {
    @if is-number($line-height) {
      line-height: multi($font-size, $line-height);
    } @else {
      line-height: $line-height;
    }
  }
  @if $font-weight {
    font-weight: $font-weight;
  }
}

@mixin border-dir(
  $dir,
  $width: $fta-border-width,
  $color: $fta-border-color,
  $style: $fta-border-style
) {
  border-#{$dir}: $width $style $color;
}

@mixin border($width: $fta-border-width, $color: $fta-border-color, $style: $fta-border-style) {
  border: $width $style $color;
}

@mixin border-top($width, $color) {
  @include border-dir(top, $width, $color);
}

@mixin border-bottom($width, $color) {
  @include border-dir(bottom, $width, $color);
}

@mixin border-left($width, $color) {
  @include border-dir(left, $width, $color);
}

@mixin border-right($width, $color) {
  @include border-dir(right, $width, $color);
}

@mixin fit-content {
  /*  #ifndef rn  */
  width: fit-content;
  /*  #endif  */

  /*  #ifndef rn  */
  align-self: center;
  /*  #endif  */
}
