@import './common/neutral.dt.scss';

$color-brand: #0154fe !default;

$color-basic-1: #e5edfe !default;
$color-basic-2: #ccddff !default;
$color-basic-3: #b2cbfe !default;
$color-basic-4: #99bbff !default;
$color-basic-5: #80a9fe !default;
$color-basic-6: #6798fe !default;
$color-basic-7: #4d87fe !default;
$color-basic-8: #3476fe !default;
$color-basic-9: #1a65fe !default;
$color-basic-10: #0154fe !default;
