@import './common/neutral.scss';

$color-brand: #ffd338 !default;

$color-basic-1: #fffaeb !default;
$color-basic-2: #fff6d7 !default;
$color-basic-3: #fff1c3 !default;
$color-basic-4: #ffedaf !default;
$color-basic-5: #ffe99b !default;
$color-basic-6: #ffe588 !default;
$color-basic-7: #ffe073 !default;
$color-basic-8: #ffdc60 !default;
$color-basic-9: #ffd74b !default;
$color-basic-10: #ffd338 !default;
