@import '../../variables/default.scss';
@import '../../mixins/index.scss';

$component: '.fta-checkbox';

#{$component} {
  position: relative;
  background-color: $color-bg;
  @include hairline-top-relative();
  @include hairline-bottom-relative();

  /* elements */
  &__option-wrap {
    padding: $spacing-v-lg $spacing-h-xl $spacing-v-lg 0;
  }

  &__option-cnt {
    display: flex;
    flex-direction: row;
  }

  &__title {
    display: flex;
    flex-direction: row;
    color: $fta-checkbox-title-color;
    font-size: $fta-checkbox-title-font-size;
    // line-height: $line-height-zh;
    text-align: left;
  }

  &__icon-cnt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    margin-right: $spacing-h-lg;
    width: $fta-checkbox-circle-size;
    min-width: $fta-checkbox-circle-size;
    height: $fta-checkbox-circle-size;
    color: transparent;
    font-size: $fta-checkbox-icon-size;
    // line-height: 1;
    border: 2px solid rgba($color: $fta-checkbox-icon-color, $alpha: 0.2);
    border-radius: $fta-checkbox-circle-size;
    background-color: $color-bg;
    // box-sizing: border-box;
    // transition: all 0.2s;

    &--selected {
      color: $fta-checkbox-icon-color-checked;
      border-width: 0;
      background-color: $fta-checkbox-icon-color;
    }
  }

  &__desc {
    display: flex;
    flex-direction: row;
    padding-left: $fta-checkbox-circle-size + $spacing-h-lg;
    color: $fta-checkbox-desc-color;
    font-size: $fta-checkbox-desc-font-size;
    text-align: left;
    // line-height: $line-height-zh;
    letter-spacing: 0;
  }

  &__option {
    padding-left: $spacing-h-xl;
    @include active;

    &--disabled {
      opacity: $opacity-disabled;

      &:active {
        background-color: $color-bg;
      }
    }
  }

  &__option + &__option {
    #{$component}__option-wrap {
      @include hairline-top();
    }
  }
}
