@import '../../variables/default.scss';
@import '../../mixins/index.scss';
// @import '../..//mixins/libs/hairline.rn.scss';
$fta-form-bg-color: $color-bg;
$color-error: #f33131;

.fta-form {
  @include display-flex(column);
  background-color: $fta-form-bg-color;
  flex: 1;
  height: 100%;

  &-container {
    height: 100%;
  }

  &-title {
    // Fix: 微信小程序margin塌陷
    padding-top: zoom(36px);
    margin: 0 zoom(32px) zoom(31px);

    &__text {
      font-size: $font-size-md;
      font-weight: $font-weight-bolder;
      color: $color-grey-0;
    }
  }

  &-tip {
    @include space-between(center);
    margin: zoom(28px) zoom(20px);

    &-content {
      @include display-flex(row);
      align-items: center;
    }

    &__image {
      @include square(zoom(28px));
      margin-right: zoom(12px);
    }

    &__text {
      font-size: $font-size-sm;
      color: $color-grey-1;
    }

    &__button {
      @include flex-center();
      width: zoom(140px);
      height: zoom(52px);
      border-radius: zoom(8px);
      background: $color-brand;

      &__text {
        font-size: $font-size-sm;
        color: $color-white;
      }
    }
  }
}

.fta-form-item {
  @include border-box();
  @include space-between(center);
  margin: zoom(20px) zoom(32px) 0;

  &-label {
    height: 100%;
    @include display-flex(row);
    align-items: center;
    &__text {
      font-size: $font-size-sm;
      font-weight: $font-weight-normal;
      color: $color-grey-0;
    }
  }

  &-content {
    @include relative();
    @include display-flex(row);
    @include border-box();
    justify-content: flex-end;
    align-items: center;
    min-height: zoom(88px);
    width: zoom(422px);
    padding-right: zoom(32px);
    flex: 0 0 zoom(422px);
    border-radius: $border-radius-lg;
    background-color: #f9f9f9;

    &__text {
      font-size: $font-size-md;
      font-weight: $font-weight-bold;
      color: $color-grey-0;
    }

    &--hover {
      opacity: 0.6;
    }

    &--error {
      // prettier-ignore
      border: 1PX solid $color-error;
    }
  }

  &-arrow {
    margin-left: zoom(2px);
    @include square(zoom(32px));
  }

  &-error {
    @include display-flex(row);
    justify-content: flex-end;
    margin-top: zoom(20px);
    // margin-left: zoom(calc(265 / 720) * 100vw);
    padding-bottom: zoom(10px);

    &-icon {
      @include square(zoom(32px));
      margin-right: zoom(5px);
    }

    &-wrap {
      @include display-flex(row);
      align-items: center;
      width: zoom(454px);
    }

    &__text {
      color: $color-error;
      font-size: $font-size-sm;
      line-height: $font-size-md;
    }
  }

  &-placeholder {
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    color: $color-grey-3;
  }

  &-gap {
    width: 100%;
    height: zoom(20px);
    background-color: #f5f5f5;
  }

  /* Modifiers */
  &--readonly {
    @include nrn {
      pointer-events: none;
    }
  }
}
