@import '../../variables/default.scss';
@import '../../mixins/index.scss';
$fta-form-bg-color: $color-bg;
$color-error: #f33131;

$fta-form-content-bg-color: #f9f9f9;

@mixin break-all {
  @include nrn {
    word-break: break-all;
  }
}

.fta-form {
  @include display-flex(column);
  background-color: $fta-form-bg-color;
  flex: 1;
  height: 100%;

  &-container {
    height: 100%;
  }

  &-title {
    // Fix: 微信小程序margin塌陷
    padding-top: zoom(36px);
    margin: 0 zoom(32px) zoom(31px);

    &__text {
      font-size: $font-size-md;
      font-weight: $font-weight-bolder;
      color: $color-grey-0;
    }
  }

  &-tip {
    @include space-between(center);
    // width: 100%;
    margin: zoom(28px) zoom(20px);

    &-content {
      @include display-flex(row);
      align-items: center;
      width: zoom(480px);
      // overflow: hidden;
    }

    &__image {
      @include square(zoom(28px));
      flex: 0 0 zoom(28px);
      margin-right: zoom(12px);
    }

    &__text {
      font-size: $font-size-sm;
      color: $color-grey-1;
    }

    &__button {
      @include flex-center();
      width: zoom(140px);
      height: zoom(52px);
      border-radius: zoom(8px);
      background: $color-brand;

      &__text {
        font-size: $font-size-sm;
        color: $color-white;
      }
    }
  }

  &-full-screen {
    @include rn {
      flex: 1;
    }

    @include nrn {
      position: fixed;
      z-index: 999;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &-modal {
    @include rn {
      flex: 1;
    }

    background-color: rgba(0, 0, 0, 0.4);
    @include flex-center(column);

    &__text {
      @include nrn {
        display: block;
      }
      text-align: center;
      color: #f6f6f6;
      margin-bottom: zoom(24px);
      font-size: $font-size-md;
      line-height: 1.5 * $font-size-md;
    }

    &__image {
      width: zoom(560px);
      height: zoom(552px);
      @include nrn {
        @include flex-center();
      }
    }
  }
}

.fta-form-item {
  @include border-box();
  @include space-between(center);
  margin: zoom(20px) zoom(32px) 0;

  &-label {
    flex: 1 1 auto;
    // overflow: hidden;
    // width: zoom(220px);
    // background-color: red;
    // max-width: 200px;
    height: 100%;
    @include display-flex(row);
    align-items: center;
    margin-right: zoom(12px);
    // &--hack {
    //   width: zoom(188px);
    //   // background-color: green;
    // }

    &__required {
      font-size: $font-size-md;
      line-height: $font-size-md;
      color: #ff5b00;
    }

    &__text {
      font-size: $font-size-sm;
      font-weight: $font-weight-normal;
      color: $color-grey-0;
      flex-shrink: 1;
      @include break-all;
    }
  }

  &-content {
    @include relative();
    @include display-flex(row);
    @include border-box();
    justify-content: flex-end;
    align-items: center;
    min-height: zoom(88px);
    width: zoom(448px);
    padding: 0 zoom(20px);
    flex: 0 0 zoom(448px);
    border-radius: $border-radius-lg;
    background-color: $fta-form-content-bg-color;

    &__text {
      font-size: $font-size-md;
      font-weight: $font-weight-bold;
      color: $color-grey-0;
      flex-shrink: 1;
      @include break-all;
      @include h5 {
        input {
          font-weight: $font-weight-bold;
          height: zoom(88px);
          line-height: zoom(88px);

          &::placeholder {
            font-size: $font-size-md;
            font-weight: $font-weight-normal;
            color: $color-grey-3;
          }
        }
      }
    }

    &__suffix {
      margin-left: zoom(20px);
      color: $color-grey-0;
      font-size: $font-size-md;
    }

    &--hover {
      opacity: 0.6;
    }

    &--error {
      // prettier-ignore
      border: 1PX solid $color-error;
    }
  }

  &-arrow {
    margin-left: zoom(2px);
    @include square(zoom(32px));
    flex: 0 0 zoom(32px);
  }

  &-error {
    @include display-flex(row);
    justify-content: flex-end;
    margin-top: zoom(20px);
    width: 100%;
    // margin-left: zoom(calc(265 / 720) * 100vw);
    padding-bottom: zoom(10px);

    &-icon {
      @include square(zoom(32px));
      margin-right: zoom(5px);
      flex: 0 0 zoom(32px);
    }

    &-wrap {
      @include display-flex(row);
      @include border-box();
      align-items: center;
      width: zoom(448px);
      margin-right: zoom(32px);
    }

    &__text {
      flex-shrink: 1;
      color: $color-error;
      font-size: $font-size-sm;
      line-height: $font-size-md;
    }
  }

  &-placeholder {
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    color: $color-grey-3;
    flex-shrink: 1;
  }

  &-gap {
    width: 100%;
    height: zoom(20px);
    background-color: #f5f5f5;
  }

  &-tooltip {
    flex: 0 0 zoom(30px);
    @include square(zoom(30px));
    margin-left: zoom(11px);
  }

  &-input {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    // background-color: red;
    overflow: hidden;
    &-hack {
      position: absolute;
      z-index: 10;
      left: zoom(20px);
      right: zoom(20px);
      // width: 100%;
      height: zoom(24px);
      bottom: 0;
      background-color: $fta-form-content-bg-color;
      @include nrn {
        pointer-events: none;
      }
    }

    &--empty {
      font-weight: $font-weight-normal;
    }

    &--nrn {
      height: zoom(88px);
    }
  }

  /* Modifiers */
  &--readonly {
    @include nrn {
      pointer-events: none;
    }
  }
}
