@import '../../variables/default.scss';
@import '../../mixins/index.scss';

$fta-segmented-control-min-width: 120px;

.fta-segmented-control {
  flex-direction: row;
  flex: 0;
  position: relative;
  width: 100%;
  text-align: center;
  border-radius: $border-radius-md;
  overflow: hidden;
  border: 1px solid $fta-segmented-control-color;

  /* elements */
  &__item {
    flex: 1;
    min-width: $fta-segmented-control-min-width;
    overflow: hidden;
    &__text {
      color: $fta-segmented-control-color;
      text-align: center;
      background-color: $fta-segmented-control-bg-color;
      font-size: $fta-segmented-control-font-size;
      padding: $spacing-v-xs $spacing-h-sm;
    }
    &--active {
      &__text {
        color: $fta-segmented-control-color-active;
        background-color: $fta-segmented-control-color;
        padding: $spacing-v-xs $spacing-h-sm;
      }
    }
  }

  /* modifiers */
  &--disabled {
    opacity: $opacity-disabled;
  }
}
