@import '../../variables/default.scss';
@import '../../mixins/index.scss';

.fta-segmented-control {
  @include relative();
  @include border-box();
  @include border-thin($color: $fta-segmented-control-color, $width: 1px);
  @include nrn {
    display: inline-flex;
    white-space: nowrap;
  }
  width: 100%;
  border-radius: $fta-segmented-control-radius;
  overflow: hidden;
  flex-direction: row;

  /* elements */
  &__item {
    @include border-box;
    @include nrn {
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: all 0.2s;
    }
    flex: 1;
    text-align: center;
    padding: $fta-segmented-control-padding;
    min-width: $fta-segmented-control-min-width;
    background-color: $fta-segmented-control-color-active;
    overflow: hidden;

    &--bordered {
      @include border-thin-left($color: $fta-segmented-control-color, $width: 1px);
    }

    &__text {
      text-align: center;
      color: $fta-segmented-control-color;
      font-size: $fta-segmented-control-font-size;
    }

    &--active {
      background-color: $fta-segmented-control-color;
      &__text {
        color: $fta-segmented-control-color-active;
        // background-color: red;
      }
    }
  }

  &__item + &__item {
    @include border-thin-left($color: $fta-segmented-control-color, $width: 1px);
  }

  /* modifiers */
  &--disabled {
    opacity: $fta-segmented-control-disabled-opacity;
  }
}
