@function px2vw($px) {
  @if (unitless($px)) {
    @return ($px / 750) * 100vw;
  } @else {
    @return ($px / 750px) * 100vw;
  }
}

.float_layout_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}
.float_layout_body {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-top-left-radius: px2vw(17);
  border-top-right-radius: px2vw(17);
  height: 70vh;
}
.float_layout_header {
  height: px2vw(122);
  line-height: px2vw(122);
  border-bottom: px2vw(1) solid #e8e8e8;
  position: relative;
}
.float_layout_header_title {
  font-size: px2vw(34);
  font-weight: bold;
  text-align: center;
  color: #333;
}
.float_layout_cancel_text {
  color: #666;
  position: absolute;
  top: 50%;
  left: px2vw(29);
  transform: translate(0, -50%);
}
.float_layout_confirm_text {
  color: #fa871e;
  position: absolute;
  top: 50%;
  right: px2vw(29);
  transform: translate(0, -50%);
}
