@import '../../variables/default.scss';
@import '../..//mixins/libs/overlay.scss';
@import '../..//mixins/libs/absolute-center.scss';
@import '../..//mixins/libs/hairline.scss';
@import '../..//mixins/libs/line.scss';
@import '../..//mixins/libs/flex.scss';
@import '../..//mixins/libs/active.scss';

%button {
  color: $fta-modal-btn-default-color;
  font-size: $fta-modal-button-size;
  font-weight: $font-weight-normal;
  margin-top: 0;
  border: 0;
  border-radius: 0;
}

%content {
  color: $fta-modal-content-text-color;
  font-size: $fta-modal-content-size;
  font-weight: $font-weight-normal;
  line-height: $line-height-base * $fta-modal-content-size;
  @include rn {
    text-align: center;
  }
}

$fta-modal-duration: 200ms;

.fta-modal {
  display: flex;
  flex: 1;

  /*  #ifndef  rn  */
  position: fixed;
  top: 0;
  left: 0;
  display: none;

  /* elements */
  &__overlay,
  &__container {
    opacity: 0;

    // transition: opacity $fta-modal-duration ease-in;
  }
  /* modifiers */
  &--active {
    // visibility: visible;
    display: flex;
    .fta-modal__overlay,
    .fta-modal__container {
      opacity: 1;
    }
  }
  /*  #endif  */

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // visibility: hidden;
  // transition: visibility $fta-modal-duration ease-in;
  z-index: $zindex-modal;

  &__overlay {
    @include overlay;
  }

  &__container {
    @include absolute-center();
    width: $fta-modal-width;
    border-radius: $border-radius-lg;
    background-color: $fta-modal-bg-color;
    overflow: hidden;
  }

  @include rn {
    &__header {
      &-text {
        color: $fta-modal-header-text-color;
        font-size: $font-size-lg;
        font-weight: bold;
        /* #ifdef rn*/
        text-align: center;
        /* #endif */
      }
    }
  }

  .content-simple {
    /* #ifndef rn */
    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }
    /* #endif */

    /* #ifdef rn */
    flex-direction: row;
    justify-content: center;
    // align-items: stretch;
    &--left {
      justify-content: flex-start;
    }

    &--right {
      justify-content: flex-end;
    }
    /* #endif */
  }

  /* #ifdef rn */
  .content-simple__text {
    @extend %content;
  }
  /* #endif */
}

.fta-modal__action {
  &__button {
    @include line(1);
    @include active;

    /* #ifndef rn */
    @include flex(auto);
    @extend %button;

    background-color: transparent;
    flex: 1;
    /* #endif */

    /* #ifdef rn */
    @include flex-center();
    /* #endif */
    height: $fta-modal-footer-height;

    &::after {
      border: 0;
      border-radius: 0;
      width: initial;
      height: initial;
    }

    &:not(:first-child) {
      @include hairline-left-relative($color: $fta-modal-line-color);
    }
  }

  /* #ifdef rn */
  .button {
    @extend %button;
  }

  .button--border {
    // prettier-ignore
    border-left-width: 0.5PX;
    border-color: $fta-modal-line-color;
  }

  .button-confirm__text {
    color: $fta-modal-btn-confirm-color;
  }
  /* #endif */
  &__button--confirm {
    color: $fta-modal-btn-confirm-color;
  }
}
