// variable
$fta-border-color: #efefef !default;
$fta-border-width: 1px !default;
$fta-border-style: solid !default;
$fta-text-color: #333 !default;
$fta-text-font-weight: 400 !default;
$fta-text-font-size: 28px !default;
$fta-text-line-height: 1.2 !default;
$fta-full-z-index: 1 !default;
$prefix: '._fta' !default;
