@import '../../style/variables/default.scss';

.fta-debugger {
  position: absolute;
  /* #ifndef rn */
  position: fixed;
  display: flex;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  /* #endif */
  bottom: 100px;
  right: 40px;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 300px;
  // prettier-ignore
  border: 1PX solid $color-brand;
  align-items: center;
  justify-content: center;
  z-index: 100;

  &__text {
    color: $color-brand;
    font-size: $font-size-md;
  }

  &--care {
    width: 100px;
    height: 100px;
  }
}
