@import '../../variables/default.scss';
@import '../../mixins/index.scss';

%badge-offset {
  top: -$icon-size-md-badge-offset;
  left: $icon-size-md - $icon-size-md-badge-offset;
}

%dot-offset {
  top: -$icon-size-md-dot-offset;
  left: $icon-size-md - $icon-size-md-dot-offset;
}

.fta-icon {
  border-radius: $icon-radius;
  @include relative();

  // &--small {
  //   @include square($icon-size-sm);

  //   &--care {
  //     @include square(care($icon-size-sm));
  //   }
  // }

  &__badge {
    @extend %badge-offset;
  }

  &__dot {
    @extend %dot-offset;
  }

  &--medium {
    @include square($icon-size-md);

    &--care {
      @include square(care($icon-size-md));
    }

    // &__badge {

    //   &--dot {

    //   }
    // }
  }

  &--large {
    @include square($icon-size-lg);

    &--care {
      @include square(care($icon-size-lg));
    }

    &__badge {
      top: -$icon-size-lg-badge-offset;
      left: $icon-size-md - $icon-size-md-badge-offset;

      &--dot {
        top: -$icon-size-md-dot-offset;
        left: $icon-size-md - $icon-size-md-dot-offset;
      }
    }
  }
}
