@import '../../variables/default.scss';
@import '../../mixins/index.scss';

%badge-offset {
  top: -$icon-size-md-badge-offset;
  left: $icon-size-md - $icon-size-md-badge-offset;
}

%dot-offset {
  top: -$icon-size-md-dot-offset;
  left: $icon-size-md - $icon-size-md-dot-offset;
}

@mixin cross-size($size) {
  /* #ifdef rn */
  width: $size;
  height: $size;
  /* #endif */

  /* #ifndef rn */
  font-size: $size;
  /* #endif */
}

.fta-icon {
  border-radius: $icon-radius;
  @include relative();

  &__badge {
    @extend %badge-offset;
  }

  &__dot {
    @extend %dot-offset;
  }

  &--small {
    @include cross-size($icon-size-sm);

    &--care {
      @include cross-size(care($icon-size-sm));
    }

    &__badge {
      top: -$icon-size-sm-badge-offset;
      right: -$icon-size-lg-badge-offset;

      &--dot {
        top: -$icon-size-sm-dot-offset;
        left: $icon-size-sm - $icon-size-sm-dot-offset;
      }
    }
  }

  &--medium {
    @include cross-size($icon-size-md);

    &--care {
      @include cross-size(care($icon-size-md));
    }

    &__badge {
      top: -$icon-size-md-badge-offset;
      left: $icon-size-md - $icon-size-md-badge-offset;

      &--dot {
        top: -$icon-size-md-dot-offset;
        left: $icon-size-md - $icon-size-md-dot-offset;
      }
    }
  }

  &--large {
    @include cross-size($icon-size-lg);

    &--care {
      @include cross-size(care($icon-size-lg));
    }

    &__badge {
      top: -$icon-size-lg-badge-offset;
      left: $icon-size-lg - $icon-size-lg-badge-offset;

      &--dot {
        top: $icon-size-lg-dot-offset;
        left: $icon-size-lg - $icon-size-lg-dot-offset;
      }
    }
  }
}
