@import '@fta/common/theme/variables/common/neutral.prod.scss';
@import '../../mixins/index.scss';

.fta-typography {
}

@function scale($size) {
  @return round($size * 720 / 750);
}

.fta-text--1 {
  color: $color-title;
  font-size: scale(44px);
}

.fta-text--2 {
  color: $color-title;
  font-size: scale(40px);
}

.fta-text--3 {
  color: $color-main;
  font-size: scale(36px);
}

.fta-text--4 {
  color: $color-main;
  font-size: scale(32px);
}

.fta-text--5 {
  color: $color-main;
  font-size: scale(28px);
}

.fta-text--6 {
  color: $color-primary;
  font-size: scale(24px);
}

.fta-text--1--care {
  font-size: care(scale(44px));
}

.fta-text--2--care {
  font-size: care(scale(40px));
}

.fta-text--3--care {
  font-size: care(scale(36px));
}

.fta-text--4--care {
  font-size: care(scale(32px));
}

.fta-text--5--care {
  font-size: care(scale(28px));
}

.fta-text--6--care {
  font-size: care(scale(24px));
}
