@import '../../mixins/index.scss';
@import '../../variables/default.scss';

@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

.fta-divider {
  @include flex-center();
  &-line {
    border: 0;
    flex: 1;
    /* #ifdef rn */
    // prettier-ignore
    border-bottom-width: 0.5PX;
    border-style: solid;
    border-bottom-color: $fta-divider-line-color;
    /* #endif */

    /* #ifndef rn */
    width: 100%;
    // prettier-ignore
    border-bottom: 1PX solid $fta-divider-line-color;
    transform: scaleY(0.5);
    vertical-align: middle;
    /* #endif */
  }

  &-line--care {
    /* #ifdef rn */
    // prettier-ignore
    border-bottom-width: 1PX;
    /* #endif */
    /* #ifndef rn */
    transform: scaleY(1);
    /* #endif */
  }

  &-line--offset {
    width: $fta-divider-line-offset;
    flex: 0 0 auto;
  }

  &-line--bold {
    /* #ifndef rn */
    transform: none;
    /* #endif */

    /* #ifdef rn */
    // prettier-ignore
    border-bottom-width:1PX ;
    /* #endif */
  }

  &-line--bold--care {
    // prettier-ignore
    border-bottom-width:2PX ;
  }

  &-dot {
    @include square($fta-divider-dot-size);
    @include circle();
    background-color: $fta-divider-dot-color;
  }

  &-dot--care {
    @include square(care($fta-divider-dot-size));
  }

  &-line--dashed {
    /* #ifndef rn */
    border-style: dashed;
    /* #endif */
    /* #ifdef rn */
    border-style: dashed;
    // prettier-ignore
    border-radius: 1PX;
    // border-width: 2px;
    // prettier-ignore
    // border-width: 1PX;
    /* #endif */
  }

  &-text {
    margin: 0 $fta-divider-text-margin;
    &__label {
      font-size: $fta-divider-text-size;
      // line-height: 32px;
      color: $fta-divider-text-color;
    }

    &__label--care {
      font-size: care($fta-divider-text-size);
      // line-height: care(32px);
    }
  }
}
