@import '@fta/common/style/variables/default.scss';
@import '@fta/common/style/mixins/index.scss';

.fta-action-sheet {
  &__item {
    padding: $spacing-v-lg $spacing-h-lg;
    border-bottom-width: 1px;
    border-bottom-color: #d6e4ef;
    justify-content: center;
    align-items: center;
    // @include active();
    // @include line(1);
    // @include hairline-bottom-relative();
  }
}
