$color-grey-1: #ffffff !default;
$color-grey-2: #f9f9f9 !default;
$color-grey-3: #f5f5f5 !default;
$color-grey-4: #e8e8e8 !default;
$color-grey-5: #999999 !default;
$color-grey-6: #666666 !default;
$color-grey-7: #333333 !default;
