@import './neutral.scss';

$color-title: $color-grey-7 !default;
$color-main: $color-grey-6 !default;
$color-primary: $color-grey-5 !default;
$color-dark: $color-grey-4 !default;
$color-divider: $color-grey-4 !default;
$color-background: $color-grey-3 !default;
$color-form: $color-grey-2 !default;
$color-card-bg: $color-grey-2 !default;
