@import '../../variables/default.scss';
@import '../../mixins/index.scss';

$component: '.fta-switch';

#{$component} {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $color-bg;
  // margin-left: $spacing-h-xl;
  padding: $spacing-v-lg $spacing-h-xl $spacing-v-lg 0;
  margin-bottom: 1px;
  @include hairline-bottom();

  /* elements */
  &__title {
    flex: 6;
    color: $fta-switch-title-color;
    font-size: $fta-switch-title-size;
    margin-left: $spacing-h-xl;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    flex: 2;
    background-color: $color-bg;
  }

  &__switch {
    display: flex;
  }

  /* modifiers */
  &--disabled {
    opacity: $opacity-disabled;
  }

  &--without-border {
    &::after {
      border: none;
    }
  }
}
