@import '../../variables/default.scss';
@import '../../mixins/index.scss';

@keyframes fta-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fta-loading {
  overflow: hidden;
  @include relative();
  @include square($fta-loading-size);
  @include nrn {
    font-size: 0;
    line-height: 0;
  }

  // border-color: $fta-loading-color;

  &--small {
    @include square($fta-loading-size-sm);
  }

  &--medium {
    @include square($fta-loading-size-md);
  }

  &--large {
    @include square($fta-loading-size-lg);
  }

  &__view {
    @include nrn {
      box-sizing: border-box;
      animation: fta-loading 1s linear infinite;
    }
    @include circle();
    @include square(100%);
    // prettier-ignore
    border-width: $fta-loading-width-sm;
    border-style: solid;
    border-color: $fta-loading-color $fta-loading-color $fta-loading-color transparent;
    // border-left-width: 0;
    // border-left-style: dashed;
    // border-left-color: transparent;

    &--small {
      border-width: $fta-loading-width-sm;
    }

    &--medium {
      border-width: $fta-loading-width-md;
    }

    &--large {
      border-width: $fta-loading-width-lg;
    }
  }

  &__image {
    @include square(100%);
    @include nrn {
      animation: fta-loading 1s linear infinite;
      transform-origin: center;
    }
  }

  &--circle {
    @include circle();
  }
}
