@import '../../variables/default.scss';
@import '../../mixins/index.scss';

@keyframes fta-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fta-loading {
  @include relative();
  @include square($fta-loading-size);

  &__ring {
    @include nrn {
      box-sizing: border-box;
      display: block;
      position: absolute;
      border-radius: 50%;
      animation: fta-loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    }

    @include square($fta-loading-size);
    margin: 1px;
    // prettier-ignore
    border-width: 2PX;
    border-style: solid;
    border-color: $fta-loading-color transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }

  &--custom {
    @include square($fta-loading-size * 2);

    &__image {
      @include square(100%);
      @include nrn {
        animation: fta-loading 1s linear infinite;
      }
    }
  }

  &--circle {
    @include nrn() {
      border-radius: 50%;
    }
  }
}
