@import '../../mixins/index.scss';
@import '../../variables/default.scss';

.fta-picker {
  // prettier-ignore
  padding: 27PX 0;
  @include relative;
  @include display-flex(row);
  width: 100%;

  &-block {
    // overflow: auto;
    flex: 1;
    // prettier-ignore
    height: 150PX;
    // @include nrn {
    //   transform-style: preserve-3d;
    // }
  }

  &-item {
    @include flex-center();
    // prettier-ignore
    height: 30PX;
    // opacity: 0.4;
    overflow: hidden;
    // @include nrn {
    //   backface-visibility: hidden;
    // }

    &__text {
      @include nrn {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      // prettier-ignore
      font-size: 20PX;
      color: $color-grey-0;
    }

    /* Modifiers */
    &--active {
      // prettier-ignore
      // height: 50PX;
      opacity: 1;
      // @include nrn {
      //   transition: height opacity 0.2s;
      // }

      // &__text {
      //   // prettier-ignore
      //   font-size: 20PX;
      //   // @include nrn {
      //   //   transition: font-size 0.2s;
      //   // }
      // }
    }

    // &--almost {
    //   // prettier-ignore
    //   height: 33PX;
    //   opacity: 0.4;

    //   // @include nrn {
    //   //   transition: height 0.1s;
    //   // }

    //   &__text {
    //     // prettier-ignore
    //     font-size: 18PX;
    //     // @include nrn {
    //     //   transition: font-size 0.05s;
    //     // }
    //   }
    // }

    &--placeholder {
      // prettier-ignore
      margin: 60PX 0;
      width: 100%;
    }
  }

  &-line {
    // prettier-ignore
    top: 87PX;
    @include border-box;
    position: absolute;
    margin-left: 4.45vw;
    width: 91vw;
    // prettier-ignore
    height: 30PX;
    // prettier-ignore
    border-top-width: 1PX;
    border-top-color: #e9e9e9;
    // prettier-ignore
    border-bottom-width: 1PX;
    border-bottom-color: #e9e9e9;
    @include nrn {
      border-top-style: solid;
      border-bottom-style: solid;
      pointer-events: none;
    }
  }

  &-opacity {
    position: absolute;
    z-index: 10;
    // prettier-ignore
    height: 62PX;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    @include nrn {
      pointer-events: none;
    }

    &--top {
      // prettier-ignore
      top: 28PX;
    }

    &--bottom {
      // prettier-ignore
      bottom: 28PX
    }
  }
}
