@import '../../mixins/index.scss';
@import '../../variables/default.scss';

@mixin fit-content() {
  /* #ifndef rn */
  width: fit-content;
  margin: 0 auto;
  /* #endif */
  /* #ifdef rn */
  align-self: center;
  /* #endif */
}

.fta-badge {
  @include flex-center();
  @include circle();
  @include relative();
  overflow: hidden;
  height: $fta-badge-height;
  padding: 0 $fta-badge-horizon-padding;
  min-width: $fta-badge-min-width;
  /* #ifdef h5 */
  width: fit-content;
  /* #endif */

  &-text {
    @include relative();
    z-index: 1;
    color: #fff;
    font-size: $fta-badge-text-size;
    line-height: $fta-badge-height;
    /* #ifndef rn */
    white-space: nowrap;
    /* #endif */

    // align-self: center;
    // flex-shrink: 1;
  }

  &-text--care {
    font-size: care($fta-badge-text-size);
    line-height: care($fta-badge-height);
  }

  &--error {
    background-color: $fta-badge-bg-color-error;
  }

  &--warning {
    background-color: $fta-badge-bg-color-warning;
  }

  &--success {
    background-color: $fta-badge-bg-color-success;
  }

  &--info {
    background-color: $fta-badge-bg-color-info;
  }

  &--primary {
    background-color: $fta-badge-bg-color-primary;
  }

  &--dot {
    @include circle();
    padding: 0;
    min-width: 0;
    width: $fta-badge-dot-size;
    height: $fta-badge-dot-size;
  }

  &--dot--care {
    width: care($fta-badge-dot-size);
    height: care($fta-badge-dot-size);
  }

  &--horn {
    border-bottom-left-radius: 0;
  }

  &--square {
    border-radius: 0;
  }

  &--absolute {
    position: absolute;
  }

  &--care {
    height: care($fta-badge-height);
    min-width: care($fta-badge-min-width);
    padding: 0 care($fta-badge-horizon-padding);
  }

  &--rimless {
    padding: 0;
  }

  &--coupon {
    border-radius: 0;
  }

  &--sector {
    @include square($fta-badge-sector-size);
  }

  &-coupon {
    @include square-circle($fta-badge-coupon-size);
    position: absolute;
    top: zoom(($fta-badge-height - $fta-badge-coupon-size) / 2);
    background-color: $fta-badge-coupon-color;

    &--care {
      @include square-circle(care($fta-badge-coupon-size));
      top: care(zoom(($fta-badge-height - $fta-badge-coupon-size) / 2));
    }
  }

  .coupon-left {
    left: -$fta-badge-coupon-size / 2;

    &--care {
      left: care(-$fta-badge-coupon-size / 2);
    }
  }

  .coupon-right {
    right: care(-$fta-badge-coupon-size / 2);

    &--care {
      right: care(-$fta-badge-coupon-size / 2);
    }
  }

  &--sector {
    @include square($fta-badge-sector-size);
    border-radius: 0;
    background-color: transparent;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;

    &--care {
      @include square(care($fta-badge-sector-size));
    }

    &__text {
      padding-top: $fta-badge-sector-text-padding-top;

      &--care {
        padding-top: care($fta-badge-sector-text-padding-top);
      }
    }
  }

  &-sector {
    position: absolute;
    z-index: 0;
    @include square-circle(2 * $fta-badge-sector-size);
    bottom: 0;
    right: -$fta-badge-sector-size;

    &--care {
      @include square-circle(care(2 * $fta-badge-sector-size));
      right: care(-$fta-badge-sector-size);
    }
  }
}
