@import '../../mixins/index.scss';
@import '../../variables/default.scss';

@mixin fit-content() {
  /* #ifndef rn */
  width: fit-content;
  margin: 0 auto;
  /* #endif */
  /* #ifdef rn */
  align-self: center;
  /* #endif */
}

.fta-badge {
  @include flex-center();
  @include circle();
  height: $fta-badge-height;
  padding: 0 $fta-badge-horizon-padding;
  min-width: $fta-badge-min-width;
  align-self: center;
  /* #ifdef h5 */
  width: fit-content;
  /* #endif */

  &-text {
    color: #fff;
    font-size: $fta-badge-text-size;
    line-height: $fta-badge-height;
    /* #ifndef rn */
    white-space: nowrap;
    /* #endif */

    align-self: center;
    flex-shrink: 1;
  }

  &-text--care {
    font-size: care($fta-badge-text-size);
    line-height: care($fta-badge-height);
  }

  &--error {
    background-color: $fta-tag-bg-color-error;
  }

  &--warning {
    background-color: $fta-tag-bg-color-warning;
  }

  &--success {
    background-color: $fta-tag-bg-color-success;
  }

  &--info {
    background-color: $fta-tag-bg-color-info;
  }

  &--primary {
    background-color: $fta-tag-bg-color-primary;
  }

  &--dot {
    @include circle();
    padding: 0;
    min-width: 0;
    width: $fta-badge-dot-size;
    height: $fta-badge-dot-size;
  }

  &--dot--care {
    width: care($fta-badge-dot-size);
    height: care($fta-badge-dot-size);
  }

  &--horn {
    border-bottom-left-radius: 0;
  }

  &--square {
    border-radius: 0;
  }

  &--absolute {
    position: absolute;
  }

  &--care {
    height: care($fta-badge-height);
    min-width: care($fta-badge-min-width);
    padding: 0 care($fta-badge-horizon-padding);
  }

  &--rimless {
    padding: 0;
  }
}
