@import '../../mixins/index.scss';
@import '../../variables/default.scss';

$color-grey: #666;

.fta-selector {
  background-color: $color-white;
  &-container {
    @include display-flex(row);
    height: 787px;
    overflow: hidden;
    // prettier-ignore
    border-top-width: 1PX;
    @include nrn {
      border-top-style: solid;
    }
    border-top-color: #e8e8e8;
  }

  &-scrollarea {
    flex: 1;

    @include nrn {
      overflow: auto;
    }
  }

  &-col {
    &-0 {
      background-color: #f7f7f7;
    }

    &-1 {
      background-color: $color-white;
    }

    &-2 {
      background-color: $color-white;
      border-left-color: #e8e8e8;
      @include nrn {
        border-left-style: solid;
      }
      // prettier-ignore
      border-left-width: 1PX;
    }
  }

  &-item {
    @include display-flex(row);
    padding-left: 48px;
    min-height: 92px;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;

    &--care {
      padding-left: 40px;
      min-height: 120px;
    }

    &--auto {
      min-height: auto;
      padding-top: 28px;
      padding-bottom: 28px;
    }

    &--active {
    }

    &-0 {
      &--active {
        background-color: $color-white;
      }
    }
  }

  &-text {
    flex: 0 1 auto;
    font-size: 30px;
    line-height: 36px;
    color: $color-grey;
    font-weight: normal;
    min-width: 0;

    &--care {
      line-height: 47px;
      font-size: 39px;
    }

    &--auto {
      line-height: 36px;

      &--care {
        line-height: 47px;
        font-size: 39px;
      }
    }

    @include nrn {
      // white-space: nowrap;
      display: inline-block;
    }

    &--active {
      color: $color-brand;
      font-weight: bold;
    }

    &-0 {
    }
  }

  &-suffix {
    @include square(40px);
    @include flex-center();
    @include circle();
    margin-right: 23px;
    margin-left: 4px;
    flex: 0 0 40px;
    background-color: #ededed;

    &--active {
      background-color: $color-brand;
    }

    &--care {
      @include square(47px);
      flex: 0 0 47px;
    }

    &__icon {
      width: 21px;
      height: 20px;

      &--care {
        width: 24.7px;
        height: 23.5px;
      }
    }
  }

  &-count {
    @include square(36px);
    @include circle();
    @include flex-center();
    flex: 0 0 36px;
    margin-right: 25px;
    background-color: $color-brand;

    &--care {
      @include square(47px);
      flex: 0 0 47px;
      margin-right: 15px;
    }

    &__text {
      color: $color-white;
      font-size: 24px;
      font-weight: bold;
      line-height: 36px;

      &--care {
        font-size: 31px;
        line-height: 47px;
      }
    }
  }

  &-tag {
    @include border-box();
    @include display-flex(row);
    align-items: center;
    // margin-left: 20px;
    min-width: 144px;
    height: 64px;
    border-radius: 12px;
    // prettier-ignore
    border: 1PX solid #ff5b00;
    background-color: #fff3e8;
    padding-left: 24px;
    padding-right: 6px;
    margin-right: 20px;
    @include nrn {
      width: fit-content;
    }

    &__text {
      margin-right: 12px;
      color: #ff5b00;
      font-size: $font-size-sm;
      @include nrn {
        white-space: nowrap;
      }
    }

    &__close {
      @include square(36px);
      @include flex-center();
      color: #ff5b00;
      font-size: 36px;
      line-height: 36px;
    }
  }

  &-result {
    height: 124px;
    // @include display-flex(row);
    // align-items: center;

    &-wrap {
      padding: 0 23px;
      @include display-flex(row);
      align-items: center;
      justify-content: flex-start;
      min-width: 0;
      height: 100%;
      flex-wrap: nowrap;
    }

    &-tags {
      @include display-flex(row);
      @include nrn {
        width: fit-content;
      }
    }
  }

  // 隐藏滚动条
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
    display: none;
  }
}
