@import '../../mixins/index.scss';
@import '../../variables/default.scss';

%text-normal {
  font-size: $font-size-sm;
  color: $color-grey-1;
  font-weight: 400;
}

%border {
  @include nrn {
    // prettier-ignore
    border-bottom: 1PX solid #e9e9e9;
  }
  @include rn {
    // prettier-ignore
    border-bottom-width: 1PX;
    border-bottom-color: #e9e9e9;
  }
}

%text-active {
  font-size: $font-size-sm;
  color: $color-grey-0;
  font-weight: 600;
}

.fta-dropdown {
  // top: 500px;
  // bottom: 0;
  @include nrn {
    position: fixed;
  }
  @include rn {
    position: absolute;
  }
  z-index: 9;
  width: 100%;
  @include display-flex(column);
  // @include relative();
  z-index: 1;
  flex-wrap: nowrap;
  align-self: stretch;
  // flex: 1;
  // min-height: zoom(80px);
  // background-color: $color-white;

  &--full {
    @include nrn {
      // transform: translateY(-100%);
    }
    background-color: rgba(0, 0, 0, 0.5);
    // bottom: 0;
  }

  &--blank {
    @include nrn {
      position: relative;
      z-index: 0;
    }
    // background-color: red;
  }

  &-menu {
    @include display-flex(row);
    background-color: $color-white;
    // flex: 1;
    @extend %border;
  }

  &-item {
    @include flex-center(row);
    flex: 1;
    height: zoom(80px);

    &__text {
      @extend %text-normal;

      &--active {
        @extend %text-active;
      }
    }

    &__arrow {
      @include square($font-size-xs);
      margin-left: zoom(12px);
    }
  }

  &-options {
    @include display-flex(column);
    padding-left: zoom(28px);
    // flex: 1;
    border-radius: 0px 0px zoom(16px) zoom(16px);
    background-color: $color-white;

    &--absolute {
      position: absolute;
      z-index: 2;
      background-color: $color-white;
      top: 100%;
      left: 0;
      width: 100%;
    }
  }

  &-option {
    height: zoom(100px);
    @extend %border;
    @include display-flex(row);
    align-items: center;
    justify-content: space-between;

    &__text {
      @extend %text-normal;

      &--active {
        @extend %text-active;
      }
    }

    &__check {
      width: zoom(30px);
      height: zoom(25px);
      margin-right: zoom(38px);
    }

    &--borderless {
      border-bottom-color: transparent;
    }
  }
}
