@import '../../variables/default.scss';
@import '../../mixins/index.scss';

@mixin avatar-props($size, $radius) {
  /* #ifdef rn */
  width: $size;
  height: $size;
  /* #endif */
  /* #ifndef rn */
  width: $size !important;
  height: $size !important;
  line-height: $size;
  /* #endif */
  border-radius: $radius;
}

@mixin text($size, $line-height) {
  font-size: $size;
  /* #ifdef rn */
  line-height: $line-height;
  /* #endif */
}

.fta-avatar {
  text-align: center;
  border-radius: $border-radius-md;
  background: $fta-avatar-bg-color;
  // box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;

  &__text {
    text-align: center;
    color: $fta-avatar-color;
    font-weight: $fta-avatar-weight;
  }

  /* elements */
  &__img {
    width: 100%;
    height: 100%;
  }

  /* modifiers */
  &--large {
    @include avatar-props($fta-avatar-size-lg, $fta-avatar-radius-lg);

    &__text {
      @include text($fta-avatar-text-lg, $fta-avatar-size-lg);
    }
  }

  &--medium {
    @include avatar-props($fta-avatar-size-md, $fta-avatar-radius-md);

    &__text {
      @include text($fta-avatar-text-md, $fta-avatar-size-md);
    }
  }

  &--small {
    @include avatar-props($fta-avatar-size-sm, $fta-avatar-radius-sm);

    &__text {
      @include text($fta-avatar-text-sm, $fta-avatar-size-sm);
    }
  }

  &--mini {
    @include avatar-props($fta-avatar-size-xs, $fta-avatar-radius-xs);

    &__text {
      @include text($fta-avatar-text-xs, $fta-avatar-size-xs);
    }
  }

  &--circle {
    border-radius: 10000px;
    /* #ifndef rn */
    background-clip: border-box;
    /* #endif */
    overflow: hidden;
  }
}
