@import '@fta/common/style/variables/default.scss';
@import '@fta/common/style/mixins/libs/overlay.scss';
@import '@fta/common/style/mixins/libs/absolute-center.scss';
@import '@fta/common/style/mixins/libs/hairline.scss';
@import '@fta/common/style/mixins/libs/line.scss';
@import '@fta/common/style/mixins/libs/flex.scss';
@import '@fta/common/style/mixins/libs/active.scss';

%button {
  color: $fta-modal-btn-default-color;
  font-size: $font-size-lg;
  font-weight: $font-weight-normal;
  margin-top: 0;
  border: 0;
  border-radius: 0;
}

%content {
  color: $fta-modal-content-text-color;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base * $font-size-base;
}

$fta-modal-duration: 200ms;

.fta-modal {
  display: flex;
  flex: 1;

  /*  #ifndef  rn  */
  position: fixed;
  top: 0;
  left: 0;
  display: none;

  /* elements */
  &__overlay,
  &__container {
    opacity: 0;
    // transition: opacity $fta-modal-duration ease-in;
  }
  /* modifiers */
  &--active {
    // visibility: visible;
    display: flex;
    .fta-modal__overlay,
    .fta-modal__container {
      opacity: 1;
    }
  }
  /*  #endif  */

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // visibility: hidden;
  // transition: visibility $fta-modal-duration ease-in;
  z-index: $zindex-modal;

  &__overlay {
    @include overlay;
  }

  &__container {
    max-height: 80vh;
    @include absolute-center();
    width: $fta-modal-width;
    border-radius: $border-radius-lg;
    background-color: $fta-modal-bg-color;
    overflow: hidden;
  }

  &__header {
    // @include hairline-bottom-relative($color: $color-grey-4);
    // @include line(1);
    // padding: $spacing-v-md $spacing-h-lg;
    padding: $fta-modal-header-top-padding $fta-modal-header-horizon-padding 0;
    /* #ifndef rn*/
    text-align: center;
    /* #endif */
    &-text {
      color: $fta-modal-header-text-color;
      font-size: $font-size-lg;
      font-weight: $font-weight-bolder;
      /* #ifdef rn*/
      text-align: center;
      /* #endif */
    }
  }

  &__content {
    /* #ifndef rn */
    @extend %content;
    box-sizing: border-box;
    /* #endif */

    padding: $spacing-v-xl $spacing-h-max $spacing-v-max;
    min-height: 180px;
    max-height: 840px;
    text-align: center;
  }

  /* #ifdef rn */
  .content-simple__text {
    @extend %content;
  }
  /* #endif */

  &__footer {
    @include display-flex;
    @include hairline-top-relative($color: $color-grey-4);

    .fta-modal__action {
      @include display-flex;
      justify-content: center;
      flex: 1;

      &__button {
        @include line(1);
        @include active;

        /* #ifndef rn */
        @include flex(auto);
        @extend %button;

        background-color: transparent;
        flex: 1;
        /* #endif */

        /* #ifdef rn */
        @include flex-center();
        /* #endif */
        height: $fta-modal-footer-height;

        &::after {
          border: 0;
          border-radius: 0;
          width: initial;
          height: initial;
        }

        &:not(:first-child) {
          @include hairline-left-relative($color: $color-grey-4);
        }
      }

      /* #ifdef rn */
      .button {
        @extend %button;
      }

      .button--border {
        border-left-width: 0.5px;
        border-color: $color-grey-4;
      }

      .button-confirm__text {
        color: $fta-modal-btn-confirm-color;
      }
      /* #endif */
      &__button--confirm {
        color: $fta-modal-btn-confirm-color;
      }
    }
  }
}
